package auth

import (
	"fmt"
	"{{.ModuleName}}/router/routes"
	"{{.ModuleName}}/views"
)

templ Login() {
	@views.Layout() {
		<main class="flex-1 flex flex-col justify-center container mx-auto">
			<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
				<div class="sm:mx-auto sm:w-full sm:max-w-sm">
					<h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Sign in to your account</h2>
				</div>
				<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
					<form data-on-submit={ fmt.Sprintf("@post('%s')", routes.SessionCreate.Path) } class="space-y-6">
						<div>
							<label for="email" class="block text-sm/6 font-medium text-gray-100">Email address</label>
							<div class="mt-2">
								<input
									id="email"
									type="email"
									data-bind="email"
									required
									class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm/6"
								/>
							</div>
						</div>
						<div>
							<div class="flex items-center justify-between">
								<label for="password" class="block text-sm/6 font-medium text-gray-100">Password</label>
							</div>
							<div class="mt-2">
								<input
									id="password"
									type="password"
									data-bind="password"
									required
									class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm/6"
								/>
							</div>
						</div>
						<div>
							<button
								type="submit"
								class="flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-primary/80 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
							>
								Sign
								in
							</button>
						</div>
					</form>
					<p class="mt-10 text-center text-sm/6 text-gray-400">
						Don't have an account?
						<a
							href={ templ.SafeURL(routes.SignupPage.Path) }
							class="font-semibold text-secondary hover:text-secondary/80"
						>Signup</a>
					</p>
				</div>
			</div>
		</main>
	}
}
