package config

import (
	"github.com/caarlos0/env/v10"
)

type paddle struct {
	APIKey        string `env:"PADDLE_API_KEY"`
	Environment   string `env:"PADDLE_ENVIRONMENT" envDefault:"sandbox"`
	WebhookSecret string `env:"PADDLE_WEBHOOK_SECRET"`
}

func newPaddleConfig() paddle {
	cfg := paddle{}

	if err := env.ParseWithOptions(&cfg, env.Options{
		RequiredIfNoDef: true,
	}); err != nil {
		panic(err)
	}

	return cfg
}
