package controllers

import (
	"net/http"

	"{{.ModuleName}}/clients/payment"
	"{{.ModuleName}}/config"
	"{{.ModuleName}}/internal/andurel"

	"github.com/labstack/echo/v4"
)

type PaymentCheckout struct {
	db     andurel.Database
	client *payment.PaddleClient
	cfg    config.Config
}

func newPaymentCheckout(db andurel.Database, client *payment.PaddleClient, cfg config.Config) PaymentCheckout {
	return PaymentCheckout{db, client, cfg}
}

func (pc PaymentCheckout) Show(c echo.Context) error {
	// TODO: Implement checkout view
	return c.JSON(http.StatusOK, map[string]string{
		"message": "Checkout page - implement your own view",
		"environment": pc.cfg.Paddle.Environment,
	})
}
