package controllers

import (
	"{{.ModuleName}}/clients/payment"
	"{{.ModuleName}}/database"
	"{{.ModuleName}}/models"
	"{{.ModuleName}}/views"

	"github.com/labstack/echo/v4"
)

{{- if eq .Database "postgresql" }}
type PaymentAccount struct {
	db     database.Postgres
	client *payment.PaddleClient
}

func newPaymentAccount(db database.Postgres, client *payment.PaddleClient) PaymentAccount {
	return PaymentAccount{db, client}
}
{{- else if eq .Database "sqlite" }}
type PaymentAccount struct {
	db     database.SQLite
	client *payment.PaddleClient
}

func newPaymentAccount(db database.SQLite, client *payment.PaddleClient) PaymentAccount {
	return PaymentAccount{db, client}
}
{{- end }}

func (pa PaymentAccount) Index(c echo.Context) error {
	// NOTE: This is a placeholder account page
	// Users should implement their own user-transaction linking logic
	var transactions []models.PaymentTransaction

	return render(c, views.PaymentAccount(transactions))
}
