package controllers

import (
	"log/slog"

	"{{.ModuleName}}/clients/payment"
	"{{.ModuleName}}/database"
	"{{.ModuleName}}/models"
	"{{.ModuleName}}/views"

	"github.com/labstack/echo/v4"
)

{{- if eq .Database "postgresql" }}
type PaddlePricing struct {
	db     database.Postgres
	client *payment.PaddleClient
}

func newPaddlePricing(db database.Postgres, client *payment.PaddleClient) PaddlePricing {
	return PaddlePricing{db, client}
}
{{- else if eq .Database "sqlite" }}
type PaddlePricing struct {
	db     database.SQLite
	client *payment.PaddleClient
}

func newPaddlePricing(db database.SQLite, client *payment.PaddleClient) PaddlePricing {
	return PaddlePricing{db, client}
}
{{- end }}

func (pp PaddlePricing) Index(c echo.Context) error {
	// Get active products from database
	products, err := models.ListActiveProducts(c.Request().Context(), pp.db)
	if err != nil {
		slog.ErrorContext(
			c.Request().Context(),
			"failed to list products",
			"error",
			err,
		)
		return render(c, views.InternalError())
	}

	return render(c, views.PaddlePricing(products))
}
