-- name: QueryPaymentProductByID :one
SELECT * FROM payment_products WHERE id=$1;

-- name: QueryPaymentProductByProviderID :one
SELECT * FROM payment_products WHERE provider_product_id=$1;

-- name: QueryActiveProducts :many
SELECT * FROM payment_products WHERE is_active=true ORDER BY created_at DESC;

-- name: QueryAllProducts :many
SELECT * FROM payment_products ORDER BY created_at DESC;

-- name: InsertPaymentProduct :one
INSERT INTO payment_products (
    id, created_at, updated_at, provider_product_id, provider_price_id,
    name, description, price_amount, price_currency, image_url, is_active
)
VALUES ($1, now(), now(), $2, $3, $4, $5, $6, $7, $8, $9)
RETURNING *;

-- name: UpdatePaymentProduct :one
UPDATE payment_products
SET updated_at=now(), name=$2, description=$3, price_amount=$4,
    price_currency=$5, image_url=$6, is_active=$7
WHERE id = $1
RETURNING *;

-- name: DeletePaymentProduct :exec
DELETE FROM payment_products WHERE id=$1;
