-- name: QueryPaymentCustomerByProviderID :one
SELECT * FROM payment_customers WHERE provider_customer_id=$1;

-- name: InsertPaymentCustomer :one
INSERT INTO payment_customers (id, created_at, updated_at, provider_customer_id, email)
VALUES ($1, now(), now(), $2, $3)
RETURNING *;

-- name: UpdatePaymentCustomer :one
UPDATE payment_customers
SET updated_at=now(), email=$2
WHERE id = $1
RETURNING *;

-- name: DeletePaymentCustomer :exec
DELETE FROM payment_customers WHERE id=$1;
