-- +goose Up
-- +goose StatementBegin
CREATE TABLE IF NOT EXISTS payment_products (
    id uuid PRIMARY KEY,
    created_at TIMESTAMP WITH TIME ZONE NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL,
    provider_product_id VARCHAR(255) NOT NULL UNIQUE,
    provider_price_id VARCHAR(255) NOT NULL,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    price_amount VARCHAR(50) NOT NULL,
    price_currency VARCHAR(3) NOT NULL,
    image_url TEXT,
    is_active BOOLEAN NOT NULL DEFAULT true
);
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
DROP TABLE IF EXISTS payment_products;
-- +goose StatementEnd
