{{- if eq .Database "postgresql" -}}
-- name: QueryPaddleCustomerByUserID :one
SELECT * FROM paddle_customers WHERE user_id=$1;

-- name: QueryPaddleCustomerByPaddleID :one
SELECT * FROM paddle_customers WHERE paddle_customer_id=$1;

-- name: InsertPaddleCustomer :one
INSERT INTO paddle_customers (id, created_at, updated_at, user_id, paddle_customer_id, email)
VALUES ($1, now(), now(), $2, $3, $4)
RETURNING *;

-- name: UpdatePaddleCustomer :one
UPDATE paddle_customers
SET updated_at=now(), email=$2
WHERE id = $1
RETURNING *;

-- name: DeletePaddleCustomer :exec
DELETE FROM paddle_customers WHERE id=$1;
{{- else if eq .Database "sqlite" -}}
-- name: QueryPaddleCustomerByUserID :one
SELECT * FROM paddle_customers WHERE user_id=?;

-- name: QueryPaddleCustomerByPaddleID :one
SELECT * FROM paddle_customers WHERE paddle_customer_id=?;

-- name: InsertPaddleCustomer :one
INSERT INTO paddle_customers (id, created_at, updated_at, user_id, paddle_customer_id, email)
VALUES (?, datetime('now'), datetime('now'), ?, ?, ?)
RETURNING *;

-- name: UpdatePaddleCustomer :one
UPDATE paddle_customers
SET updated_at=datetime('now'), email=?
WHERE id = ?
RETURNING *;

-- name: DeletePaddleCustomer :exec
DELETE FROM paddle_customers WHERE id=?;
{{- end -}}
