-- name: QueryPaymentTransactionByID :one
SELECT * FROM payment_transactions WHERE id=$1;

-- name: QueryPaymentTransactionByProviderID :one
SELECT * FROM payment_transactions WHERE provider_transaction_id=$1;

-- name: InsertPaymentTransaction :one
INSERT INTO payment_transactions (
    id, created_at, updated_at, provider_transaction_id, provider_customer_id,
    status, amount, currency, invoice_number, billed_at, completed_at, raw_data
)
VALUES ($1, now(), now(), $2, $3, $4, $5, $6, $7, $8, $9, $10)
RETURNING *;

-- name: UpdatePaymentTransaction :one
UPDATE payment_transactions
SET updated_at=now(), status=$2, amount=$3, currency=$4,
    invoice_number=$5, billed_at=$6, completed_at=$7, raw_data=$8
WHERE id = $1
RETURNING *;

-- name: UpdatePaymentTransactionStatus :one
UPDATE payment_transactions
SET updated_at=now(), status=$2, completed_at=$3
WHERE provider_transaction_id = $1
RETURNING *;

-- name: DeletePaymentTransaction :exec
DELETE FROM payment_transactions WHERE id=$1;
