package routes

const (
	paddleRoutePrefix = "/paddle"
	paddleNamePrefix  = "paddle"
)

var paddleGroup = newRouteGroup(paddleNamePrefix, paddleRoutePrefix)

var PaddleWebhook = paddleGroup.route("webhook").
	SetPath("/webhook").
	Register()

var PaddleCheckout = paddleGroup.route("checkout").
	SetPath("/checkout").
	Register()

var PaddlePricing = paddleGroup.route("pricing").
	SetPath("/pricing").
	Register()

var PaddleAccount = paddleGroup.route("account").
	SetPath("/account").
	Register()
