package routes

import (
	"{{.ModuleName}}/internal/andurel"
)

const BillingPrefix = "billing"

var PaymentWebhook = andurel.NewSimpleRoute(
	"/webhook",
	"webhook",
	BillingPrefix,
)

var PaymentCheckout = andurel.NewSimpleRoute(
	"/checkout",
	"checkout",
	BillingPrefix,
)

var PaymentPricing = andurel.NewSimpleRoute(
	"/pricing",
	"pricing",
	BillingPrefix,
)

var PaymentAccount = andurel.NewSimpleRoute(
	"/account",
	"account",
	BillingPrefix,
)
