package routes

import (
	"{{.ModuleName}}/internal/andurel"
)

const (
	billingRoutePrefix = "/billing"
	billingNamePrefix  = "billing"
)

var PaymentWebhook = andurel.NewSimpleRoute(
	billingRoutePrefix+"/webhook",
	"webhook",
	billingNamePrefix,
)

var PaymentCheckout = andurel.NewSimpleRoute(
	billingRoutePrefix+"/checkout",
	"checkout",
	billingNamePrefix,
)

var PaymentPricing = andurel.NewSimpleRoute(
	billingRoutePrefix+"/pricing",
	"pricing",
	billingNamePrefix,
)

var PaymentAccount = andurel.NewSimpleRoute(
	billingRoutePrefix+"/account",
	"account",
	billingNamePrefix,
)
