
	_, err = r.AddRoute(echo.Route{
		Method:  http.Method{{.HTTPMethod}},
		Path:    routes.{{.NamespacePascal}}{{.ResourceName}}{{.MethodName}}.Path(),
		Name:    routes.{{.NamespacePascal}}{{.ResourceName}}{{.MethodName}}.Name(),
		Handler: {{.HandlerVar}}.{{.MethodName}},
	})
	if err != nil {
		errs = append(errs, err)
	}
