{{define "ControllerPayloadAssignment"}}
		{{- if eq .GoType "*uuid.UUID"}}
		{{.Name}}:    func() *uuid.UUID {
			if payload.{{.Name}} == "" {
				return nil
			}
			parsed, err := uuid.Parse(payload.{{.Name}})
			if err != nil {
				telemetry.Warn(
					ctx,
					"could not parse {{.Name}}, setting to nil UUID pointer",
					"error",
					err,
				)
				return nil
			}

			return &parsed
		}(),
		{{- else if eq .GoType "uuid.UUID"}}
		{{.Name}}:    func() uuid.UUID {
			if payload.{{.Name}} == "" {
				return uuid.Nil()
			}
			parsed, err := uuid.Parse(payload.{{.Name}})
			if err != nil {
				telemetry.Warn(
					ctx,
					"could not parse {{.Name}}, setting to nil UUID",
					"error",
					err,
				)
				return uuid.Nil()
			}

			return parsed
		}(),
		{{- else if eq .GoType "[]byte"}}
		{{.Name}}:    []byte(payload.{{.Name}}),
		{{- else if eq .GoType "json.RawMessage"}}
		{{.Name}}:    json.RawMessage("{}"),
		{{- else if eq .GoType "bool"}}
		{{.Name}}:    payload.{{.Name}},
		{{- else if eq .GoType "*time.Time"}}
		{{.Name}}:    func() *time.Time {
			if payload.{{.Name}} == "" {
				return nil
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return &t
			}
			return nil
		}(),
		{{- else if eq .GoType "sql.NullTime"}}
		{{.Name}}:    func() sql.NullTime {
			if payload.{{.Name}} == "" {
				return sql.NullTime{Valid: false}
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return sql.NullTime{Time: t, Valid: true}
			}
			return sql.NullTime{Valid: false}
		}(),
		{{- else if eq .GoType "sql.NullString"}}
		{{.Name}}:    sql.NullString{String: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullBool"}}
		{{.Name}}:    sql.NullBool{Bool: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullInt16"}}
		{{.Name}}:    sql.NullInt16{Int16: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullInt32"}}
		{{.Name}}:    sql.NullInt32{Int32: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullInt64"}}
		{{.Name}}:    sql.NullInt64{Int64: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullFloat64"}}
		{{.Name}}:    sql.NullFloat64{Float64: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "pgtype.Text"}}
		{{.Name}}:    pgtype.Text{String: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "pgtype.Bool"}}
		{{.Name}}:    pgtype.Bool{Bool: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "pgtype.Int2"}}
		{{.Name}}:    pgtype.Int2{Int16: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "pgtype.Int4"}}
		{{.Name}}:    pgtype.Int4{Int32: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "pgtype.Int8"}}
		{{.Name}}:    pgtype.Int8{Int64: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "pgtype.Float4"}}
		{{.Name}}:    pgtype.Float4{Float32: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "pgtype.Float8"}}
		{{.Name}}:    pgtype.Float8{Float64: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "pgtype.Timestamptz"}}
		{{.Name}}:    func() pgtype.Timestamptz {
			if payload.{{.Name}} == "" {
				return pgtype.Timestamptz{}
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return pgtype.Timestamptz{Time: t, Valid: true}
			}
			return pgtype.Timestamptz{}
		}(),
		{{- else if eq .GoType "pgtype.Timestamp"}}
		{{.Name}}:    func() pgtype.Timestamp {
			if payload.{{.Name}} == "" {
				return pgtype.Timestamp{}
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return pgtype.Timestamp{Time: t, Valid: true}
			}
			return pgtype.Timestamp{}
		}(),
		{{- else if eq .GoType "pgtype.Date"}}
		{{.Name}}:    func() pgtype.Date {
			if payload.{{.Name}} == "" {
				return pgtype.Date{}
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return pgtype.Date{Time: t, Valid: true}
			}
			return pgtype.Date{}
		}(),
		{{- else if eq .GoFormType "time.Time"}}
		{{.Name}}:    func() time.Time {
			if payload.{{.Name}} == "" {
				return time.Time{}
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return t
			}
			return time.Time{}
		}(),
		{{- else if .IsPointer}}
		{{.Name}}:    payload.{{.Name}},
		{{- else}}
		{{.Name}}:    payload.{{.Name}},
		{{- end}}
{{end}}
