{{define "ControllerPayloadAssignment"}}
		{{- if eq .GoType "*uuid.UUID"}}
		{{.Name}}:    func() *uuid.UUID {
			if payload.{{.Name}} == "" {
				return nil
			}
			parsed, err := uuid.Parse(payload.{{.Name}})
			if err != nil {
				slog.WarnContext(
					etx.Request().Context(),
					"could not parse {{.Name}}, setting to nil UUID pointer",
					"error",
					err,
				)
				return nil
			}

			return &parsed
		}(),
		{{- else if eq .GoType "uuid.UUID"}}
		{{.Name}}:    func() uuid.UUID {
			if payload.{{.Name}} == "" {
				return uuid.Nil
			}
			parsed, err := uuid.Parse(payload.{{.Name}})
			if err != nil {
				slog.WarnContext(
					etx.Request().Context(),
					"could not parse {{.Name}}, setting to nil UUID",
					"error",
					err,
				)
				return uuid.Nil
			}

			return parsed
		}(),
		{{- else if eq .GoType "[]byte"}}
		{{.Name}}:    []byte(payload.{{.Name}}),
		{{- else if eq .GoType "json.RawMessage"}}
		{{.Name}}:    json.RawMessage("{}"),
		{{- else if eq .GoType "bool"}}
		{{.Name}}:    payload.{{.Name}},
		{{- else if eq .GoType "*time.Time"}}
		{{.Name}}:    func() *time.Time {
			if payload.{{.Name}} == "" {
				return nil
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return &t
			}
			return nil
		}(),
		{{- else if eq .GoType "sql.NullTime"}}
		{{.Name}}:    func() sql.NullTime {
			if payload.{{.Name}} == "" {
				return sql.NullTime{Valid: false}
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return sql.NullTime{Time: t, Valid: true}
			}
			return sql.NullTime{Valid: false}
		}(),
		{{- else if eq .GoType "bun.NullTime"}}
		{{.Name}}:    func() bun.NullTime {
			if payload.{{.Name}} == "" {
				return bun.NullTime{Valid: false}
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return bun.NullTime{Time: t, Valid: true}
			}
			return bun.NullTime{Valid: false}
		}(),
		{{- else if eq .GoType "sql.NullString"}}
		{{.Name}}:    sql.NullString{String: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullBool"}}
		{{.Name}}:    sql.NullBool{Bool: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullInt16"}}
		{{.Name}}:    sql.NullInt16{Int16: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullInt32"}}
		{{.Name}}:    sql.NullInt32{Int32: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullInt64"}}
		{{.Name}}:    sql.NullInt64{Int64: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "sql.NullFloat64"}}
		{{.Name}}:    sql.NullFloat64{Float64: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "bun.NullString"}}
		{{.Name}}:    bun.NullString{String: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "bun.NullBool"}}
		{{.Name}}:    bun.NullBool{Bool: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "bun.NullInt32"}}
		{{.Name}}:    bun.NullInt32{Int32: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "bun.NullInt64"}}
		{{.Name}}:    bun.NullInt64{Int64: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoType "bun.NullFloat64"}}
		{{.Name}}:    bun.NullFloat64{Float64: payload.{{.Name}}, Valid: true},
		{{- else if eq .GoFormType "time.Time"}}
		{{.Name}}:    func() time.Time {
			if payload.{{.Name}} == "" {
				return time.Time{}
			}
			if t, err := time.Parse("2006-01-02", payload.{{.Name}}); err == nil {
				return t
			}
			return time.Time{}
		}(),
		{{- else if .IsPointer}}
		{{.Name}}:    payload.{{.Name}},
		{{- else}}
		{{.Name}}:    payload.{{.Name}},
		{{- end}}
{{end}}
