-- name: Query{{.ResourceName}}ByID :one
select * from {{.PluralName}} where id={{.IDPlaceholder}};

-- name: Query{{.PluralResourceName}} :many
select * from {{.PluralName}};

{{- if .IsAutoIncrementID}}

-- name: Insert{{.ResourceName}} :one
insert into
    {{.PluralName}} ({{.InsertColumnsNoID}})
values
    ({{.InsertPlaceholdersNoID}})
returning *;
{{- else}}

-- name: Insert{{.ResourceName}} :one
insert into
    {{.PluralName}} ({{.InsertColumns}})
values
    ({{.InsertPlaceholders}})
returning *;
{{- end}}

-- name: Update{{.ResourceName}} :one
update {{.PluralName}}
    set {{.UpdateColumns}}
where id = {{.IDPlaceholder}}
returning *;

-- name: Delete{{.ResourceName}} :exec
delete from {{.PluralName}} where id={{.IDPlaceholder}};

-- name: QueryPaginated{{.PluralResourceName}} :many
select * from {{.PluralName}}
{{.OrderByClause}}
{{.LimitOffsetClause}};

-- name: Count{{.PluralResourceName}} :one
select count(*) from {{.PluralName}};

{{- if .IsAutoIncrementID}}

-- name: Upsert{{.ResourceName}} :one
insert into
    {{.PluralName}} ({{.InsertColumnsNoID}})
values
    ({{.InsertPlaceholdersNoID}})
on conflict (id) do update set {{.UpsertUpdateSet}}
returning *;
{{- else}}

-- name: Upsert{{.ResourceName}} :one
insert into
    {{.PluralName}} ({{.InsertColumns}})
values
    ({{.InsertPlaceholders}})
on conflict (id) do update set {{.UpsertUpdateSet}}
returning *;
{{- end}}
