-- name: Query{{.ResourceName}}ByID :one
select * from {{.PluralName}} where id={{.IDPlaceholder}};

-- name: Query{{.ResourceName}}s :many
select * from {{.PluralName}};

-- name: QueryAll{{.ResourceName}}s :many
select * from {{.PluralName}};

-- name: Insert{{.ResourceName}} :one
insert into
    {{.PluralName}} ({{.InsertColumns}})
values
    ({{.InsertPlaceholders}})
returning *;

-- name: Update{{.ResourceName}} :one
update {{.PluralName}}
    set {{.UpdateColumns}}
where id = {{.IDPlaceholder}}
returning *;

-- name: Delete{{.ResourceName}} :exec
delete from {{.PluralName}} where id={{.IDPlaceholder}};

-- name: QueryPaginated{{.ResourceName}}s :many
select * from {{.PluralName}} 
order by created_at desc 
{{.LimitOffsetClause}};

-- name: Count{{.ResourceName}}s :one
select count(*) from {{.PluralName}};

-- name: Upsert{{.ResourceName}} :one
insert into
    {{.PluralName}} ({{.InsertColumns}})
values
    ({{.InsertPlaceholders}})
on conflict (id) do update set {{.UpsertUpdateSet}}
returning *;
