package routes

import (
	"{{.ModulePath}}/internal/routing"
)

const {{.ResourceName}}Prefix = "{{.PluralName}}"

var {{.ResourceName}}Index = routing.NewSimpleRoute(
	"/",
	"index",
	{{.ResourceName}}Prefix,
)

var {{.ResourceName}}Show = routing.NewRouteWithID(
	"/:id",
	"show",
	{{.ResourceName}}Prefix,
)

var {{.ResourceName}}New = routing.NewSimpleRoute(
	"/new",
	"new",
	{{.ResourceName}}Prefix,
)

var {{.ResourceName}}Create = routing.NewSimpleRoute(
	"/",
	"create",
	{{.ResourceName}}Prefix,
)

var {{.ResourceName}}Edit = routing.NewRouteWithID(
	"/:id/edit",
	"edit",
	{{.ResourceName}}Prefix,
)

var {{.ResourceName}}Update = routing.NewRouteWithID(
	"/:id",
	"update",
	{{.ResourceName}}Prefix,
)

var {{.ResourceName}}Destroy = routing.NewRouteWithID(
	"/:id",
	"destroy",
	{{.ResourceName}}Prefix,
)
