package router

import (
	"errors"
	"net/http"

	"{{.ModulePath}}/controllers"
	"{{.ModulePath}}/router/routes"
)

func (r Router) Register{{.ResourceName}}Routes({{.LowercaseResourceName}} controllers.{{.CapitalizedPluralName}}) error {
	errs := []error{}
	var err error

{{- if HasAction "index" }}
	_, err = r.e.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.{{.ResourceName}}Index.Path(),
		Name:    routes.{{.ResourceName}}Index.Name(),
		Handler: {{.LowercaseResourceName}}.Index,
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end }}

{{- if HasAction "show" }}
	_, err = r.e.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.{{.ResourceName}}Show.Path(),
		Name:    routes.{{.ResourceName}}Show.Name(),
		Handler: {{.LowercaseResourceName}}.Show,
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end }}

{{- if HasAction "new" }}
	_, err = r.e.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.{{.ResourceName}}New.Path(),
		Name:    routes.{{.ResourceName}}New.Name(),
		Handler: {{.LowercaseResourceName}}.New,
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end }}

{{- if HasAction "create" }}
	_, err = r.e.AddRoute(echo.Route{
		Method:  http.MethodPost,
		Path:    routes.{{.ResourceName}}Create.Path(),
		Name:    routes.{{.ResourceName}}Create.Name(),
		Handler: {{.LowercaseResourceName}}.Create,
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end }}

{{- if HasAction "edit" }}
	_, err = r.e.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.{{.ResourceName}}Edit.Path(),
		Name:    routes.{{.ResourceName}}Edit.Name(),
		Handler: {{.LowercaseResourceName}}.Edit,
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end }}

{{- if HasAction "update" }}
	_, err = r.e.AddRoute(echo.Route{
		Method:  http.MethodPut,
		Path:    routes.{{.ResourceName}}Update.Path(),
		Name:    routes.{{.ResourceName}}Update.Name(),
		Handler: {{.LowercaseResourceName}}.Update,
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end }}

{{- if HasAction "destroy" }}
	_, err = r.e.AddRoute(echo.Route{
		Method:  http.MethodDelete,
		Path:    routes.{{.ResourceName}}Destroy.Path(),
		Name:    routes.{{.ResourceName}}Destroy.Name(),
		Handler: {{.LowercaseResourceName}}.Destroy,
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end }}

{{- range .CustomActions }}
	_, err = r.e.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.{{$.ResourceName}}{{.MethodName}}.Path(),
		Name:    routes.{{$.ResourceName}}{{.MethodName}}.Name(),
		Handler: {{$.LowercaseResourceName}}.{{.MethodName}},
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end }}

	return errors.Join(errs...)
}
