package email

import "context"

type MailHog struct{}

func NewMailHog() *MailHog {
	return &MailHog{}
}

func (m *MailHog) SendTransactional(ctx context.Context, payload Payload) error {
	return nil
}
