package routes

import (
	"net/http"

	"{{.ModuleName}}/router/middleware"
	"github.com/labstack/echo/v4"
)

const authNamePrefix = "auth"

var authRoutes = []Route{
	{
		Name:         authNamePrefix + ".show_login",
		Path:         "/login",
		Method:       http.MethodGet,
		Handler:      "Auth",
		HandleMethod: "ShowLogin",
	},
	{
		Name:         authNamePrefix + ".login",
		Path:         "/login",
		Method:       http.MethodPost,
		Handler:      "Auth",
		HandleMethod: "Login",
		Middleware: []func(echo.HandlerFunc) echo.HandlerFunc{
			middleware.LoginRateLimiter(),
		},
	},
	{
		Name:         authNamePrefix + ".show_signup",
		Path:         "/signup",
		Method:       http.MethodGet,
		Handler:      "Auth",
		HandleMethod: "ShowSignup",
	},
	{
		Name:         authNamePrefix + ".signup",
		Path:         "/signup",
		Method:       http.MethodPost,
		Handler:      "Auth",
		HandleMethod: "Signup",
	},
	{
		Name:         authNamePrefix + ".logout",
		Path:         "/logout",
		Method:       http.MethodPost,
		Handler:      "Auth",
		HandleMethod: "Logout",
	},
	{
		Name:         authNamePrefix + ".verify_email",
		Path:         "/verify-email",
		Method:       http.MethodGet,
		Handler:      "Auth",
		HandleMethod: "VerifyEmail",
	},
	{
		Name:         authNamePrefix + ".show_resend_verification",
		Path:         "/resend-verification",
		Method:       http.MethodGet,
		Handler:      "Auth",
		HandleMethod: "ShowResendVerification",
	},
	{
		Name:         authNamePrefix + ".resend_verification",
		Path:         "/resend-verification",
		Method:       http.MethodPost,
		Handler:      "Auth",
		HandleMethod: "ResendVerification",
	},
	{
		Name:         authNamePrefix + ".show_forgot_password",
		Path:         "/forgot-password",
		Method:       http.MethodGet,
		Handler:      "Auth",
		HandleMethod: "ShowForgotPassword",
	},
	{
		Name:         authNamePrefix + ".forgot_password",
		Path:         "/forgot-password",
		Method:       http.MethodPost,
		Handler:      "Auth",
		HandleMethod: "ForgotPassword",
	},
	{
		Name:         authNamePrefix + ".show_reset_password",
		Path:         "/reset-password",
		Method:       http.MethodGet,
		Handler:      "Auth",
		HandleMethod: "ShowResetPassword",
	},
	{
		Name:         authNamePrefix + ".reset_password",
		Path:         "/reset-password",
		Method:       http.MethodPost,
		Handler:      "Auth",
		HandleMethod: "ResetPassword",
	},
}