package auth

import "{{.ModuleName}}/views/layout"

templ VerifyEmail() {
	@layout.Base() {
		<div class="container mx-auto max-w-md mt-8 px-4 text-center">
			<div class="alert alert-success">
				<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
				</svg>
				<span>Email verified successfully!</span>
			</div>
			<div class="mt-6">
				<a href="/" class="btn btn-primary">Go to Home</a>
			</div>
		</div>
	}
}