package config

import (
	"github.com/mbvlabs/andurel/pkg/validation"
)

const (
	DefaultAWSSESRegion = "us-east-1"
)

type awsSesConfig struct {
	region           string
	accessKeyID      string
	secretAccessKey  string
	configurationSet string
}

func (c *Config) setupAwsSes() error {
	cfg := awsSesConfig{
		region:           envOr("AWS_REGION", DefaultAWSSESRegion),
		accessKeyID:      envOr("AWS_SES_ACCESS_KEY_ID", ""),
		secretAccessKey:  envOr("AWS_SES_SECRET_ACCESS_KEY", ""),
		configurationSet: envOr("AWS_SES_CONFIGURATION_SET", ""),
	}
	if err := cfg.validate(); err != nil {
		return err
	}
	c.awsSes = cfg

	return nil
}

func (c awsSesConfig) validate() error {
	b := validation.NewBuilder()
	b.Required("Region", c.region)
	if c.accessKeyID != "" || c.secretAccessKey != "" {
		b.Required("AccessKeyID", c.accessKeyID)
		b.Required("SecretAccessKey", c.secretAccessKey)
	}

	return b.Err()
}

func (c *Config) Region() string { return c.awsSes.region }

func (c *Config) AccessKeyID() string { return c.awsSes.accessKeyID }

func (c *Config) SecretAccessKey() string { return c.awsSes.secretAccessKey }

func (c *Config) ConfigurationSet() string { return c.awsSes.configurationSet }
