package config

import (
	"github.com/caarlos0/env/v11"
	"github.com/mbvlabs/andurel/pkg/validation"
)

const (
	DefaultAWSSESRegion = "us-east-1"
)

type AwsSesCfg struct {
	Region           string `env:"AWS_REGION"`
	AccessKeyID      string `env:"AWS_SES_ACCESS_KEY_ID"`
	SecretAccessKey  string `env:"AWS_SES_SECRET_ACCESS_KEY"`
	ConfigurationSet string `env:"AWS_SES_CONFIGURATION_SET"`
}

func NewAwsSesCfg() (AwsSesCfg, error) {
	cfg := AwsSesCfg{
		Region: DefaultAWSSESRegion,
	}

	if err := env.Parse(&cfg); err != nil {
		return AwsSesCfg{}, err
	}

	if err := validation.Validate(&cfg); err != nil {
		return AwsSesCfg{}, err
	}

	return cfg, nil
}

func (c AwsSesCfg) Validate() error {
	b := validation.NewBuilder()
	b.Required("Region", c.Region)
	if c.AccessKeyID != "" || c.SecretAccessKey != "" {
		b.Required("AccessKeyID", c.AccessKeyID)
		b.Required("SecretAccessKey", c.SecretAccessKey)
	}

	return b.Err()
}

func (c AwsSesCfg) GetRegion() string { return c.Region }

func (c AwsSesCfg) GetAccessKeyID() string { return c.AccessKeyID }

func (c AwsSesCfg) GetSecretAccessKey() string { return c.SecretAccessKey }

func (c AwsSesCfg) GetConfigurationSet() string { return c.ConfigurationSet }
