package views

import "mbvlabs/andurel/layout/elements/views/internal/layouts"

templ Home() {
	@layouts.Base() {
		<h1>Welcome to the Home Page</h1>
		<p>This is a simple home page template.</p>
	}
}
