package layouts

import "mbvlabs/andurel/layout/elements/views/internal/components"

templ Base(headOpts ...components.HeadDataOption) {
	<!DOCTYPE html>
	<html lang="en" data-theme="grafto">
		@components.SetupHead(ctx, headOpts...)
		<body class="container mx-auto min-h-screen flex flex-col bg-base-200 text-base-content">
			{ children... }
		</body>
	</html>
}
