package clients

import "context"

type SES struct{}

func NewSES() *SES {
	return &SES{}
}

func (s *SES) SendTransactional(ctx context.Context, to, from, subject, htmlBody, textBody string) error {
	return nil
}
