package email

import (
	"context"
	
	"{{.ModuleName}}/config"
	"{{.ModuleName}}/clients"
)

type Sender interface {
	SendTransactional(ctx context.Context, to, from, subject, htmlBody, textBody string) error
}

type Client struct {
	sender Sender
}

func New(cfg config.Config) Client {
	return Client{clients.NewMailHog(cfg.MailHogHost, cfg.MailHogPort)}
}
