package config

import "github.com/caarlos0/env/v10"

type Auth struct {
	Pepper         string `env:"PEPPER"`
}

func newAuthConfig() Auth {
	authenticationCfg := Auth{}

	if err := env.ParseWithOptions(&authenticationCfg, env.Options{
		RequiredIfNoDef: true,
	}); err != nil {
		panic(err)
	}

	return authenticationCfg
}
