package config

import "github.com/caarlos0/env/v11"

type AuthCfg struct {
	Pepper          string   `env:"PEPPER"`
	PreviousPeppers []string `env:"PREVIOUS_PEPPERS" envSeparator:"," envDefault:""`
}

func NewAuthCfg() AuthCfg {
	authenticationCfg := AuthCfg{}

	if err := env.ParseWithOptions(&authenticationCfg, env.Options{
		RequiredIfNoDef: true,
	}); err != nil {
		panic(err)
	}

	return authenticationCfg
}
