package config

import (
	"github.com/caarlos0/env/v11"
	"github.com/mbvlabs/andurel/pkg/email"
	"github.com/mbvlabs/andurel/pkg/validation"
)

const (
	DefaultEmailMailpitHost = email.DefaultMailpitHost
	DefaultEmailMailpitPort = email.DefaultMailpitPort
)

type EmailCfg struct {
	MailpitHost string `env:"MAILPIT_HOST"`
	MailpitPort string `env:"MAILPIT_PORT"`
}

func NewEmailCfg() EmailCfg {
	cfg := EmailCfg{
		MailpitHost: DefaultEmailMailpitHost,
		MailpitPort: DefaultEmailMailpitPort,
	}

	if err := env.Parse(&cfg); err != nil {
		panic(err)
	}

	if err := validation.Validate(&cfg); err != nil {
		panic(err)
	}

	return cfg
}

func (c EmailCfg) Validate() error {
	return c.MailpitConfig().Validate()
}

func (c EmailCfg) MailpitConfig() email.MailpitConfig {
	return email.MailpitConfig{
		Host: c.MailpitHost,
		Port: c.MailpitPort,
	}
}

func (c EmailCfg) GetMailpitHost() string { return c.MailpitHost }

func (c EmailCfg) GetMailpitPort() string { return c.MailpitPort }
