// Package config provides application-wide configuration settings.
package config

import "go.uber.org/fx"

// Module provides all application configuration constructors to the dependency container.
var Module = fx.Module("config",
	fx.Provide(
		NewAppCfg,
		NewDatabaseCfg,
		NewQueueCfg,
		NewTelemetryCfg,
		NewEmailCfg,
		NewAuthCfg,
{{- range .Blueprint.Config.SortedFields}}
		New{{.Name}}Cfg,
{{- end}}
	),
)
