package config

import (
	"maps"
	"slices"
	"time"

	"github.com/mbvlabs/andurel/pkg/storage"
	"github.com/riverqueue/river"
)

const (
	DefaultAdvisoryLockPrefix          int32         = 0
	DefaultCancelledJobRetentionPeriod               = 24 * time.Hour
	DefaultCompletedJobRetentionPeriod               = 24 * time.Hour
	DefaultDiscardedJobRetentionPeriod               = 168 * time.Hour
	DefaultFetchCooldown                             = 100 * time.Millisecond
	DefaultPollInterval                              = 1 * time.Second
	DefaultQueueID                                   = ""
	DefaultJobCleanerTimeout                         = 30 * time.Second
	DefaultJobStuckThreshold                         = 10 * time.Second
	DefaultJobTimeout                                = 1 * time.Minute
	DefaultMaxAttempts                               = 25
	DefaultMaxWorkers                                = 100
	DefaultPollOnly                                  = false
	DefaultReindexerTimeout                          = 1 * time.Minute
	DefaultRescueStuckJobsAfter                      = 1 * time.Hour
	DefaultQueueSchema                               = ""
	DefaultSoftStopTimeout             time.Duration = 0
	DefaultSkipJobKindValidation                     = false
	DefaultSkipUnknownJobCheck                       = false
)

var DefaultReindexerIndexNames = []string{
	"river_job_args_index",
	"river_job_kind",
	"river_job_metadata_index",
	"river_job_pkey",
	"river_job_prioritized_fetching_index",
	"river_job_state_and_finalized_at_index",
	"river_job_unique_idx",
}

type queueConfig struct {
	cfg storage.QueueConfig
}

func (c *Config) setupQueue() error {
	maxWorkers := envOr("QUEUE_MAX_WORKERS", DefaultMaxWorkers)
	cfg := storage.QueueConfig{
		AdvisoryLockPrefix: envOr(
			"QUEUE_ADVISORY_LOCK_PREFIX",
			DefaultAdvisoryLockPrefix,
		),
		CancelledJobRetentionPeriod: envOr(
			"QUEUE_CANCELLED_JOB_RETENTION_PERIOD",
			DefaultCancelledJobRetentionPeriod,
		),
		CompletedJobRetentionPeriod: envOr(
			"QUEUE_COMPLETED_JOB_RETENTION_PERIOD",
			DefaultCompletedJobRetentionPeriod,
		),
		DiscardedJobRetentionPeriod: envOr(
			"QUEUE_DISCARDED_JOB_RETENTION_PERIOD",
			DefaultDiscardedJobRetentionPeriod,
		),
		FetchCooldown: envOr("QUEUE_FETCH_COOLDOWN", DefaultFetchCooldown),
		PollInterval:  envOr("QUEUE_POLL_INTERVAL", DefaultPollInterval),
		ID:            envOr("QUEUE_ID", DefaultQueueID),
		JobCleanerTimeout: envOr(
			"QUEUE_JOB_CLEANER_TIMEOUT",
			DefaultJobCleanerTimeout,
		),
		JobStuckThreshold: envOr(
			"QUEUE_JOB_STUCK_THRESHOLD",
			DefaultJobStuckThreshold,
		),
		JobTimeout:  envOr("QUEUE_JOB_TIMEOUT", DefaultJobTimeout),
		MaxAttempts: envOr("QUEUE_MAX_ATTEMPTS", DefaultMaxAttempts),
		MaxWorkers:  maxWorkers,
		PollOnly:            envOr("QUEUE_POLL_ONLY", DefaultPollOnly),
		ReindexerIndexNames: slices.Clone(DefaultReindexerIndexNames),
		Queues: map[string]river.QueueConfig{
			river.QueueDefault: {MaxWorkers: maxWorkers},
		},
		ReindexerTimeout: envOr(
			"QUEUE_REINDEXER_TIMEOUT",
			DefaultReindexerTimeout,
		),
		RescueStuckJobsAfter: envOr(
			"QUEUE_RESCUE_STUCK_JOBS_AFTER",
			DefaultRescueStuckJobsAfter,
		),
		Schema: envOr("QUEUE_SCHEMA", DefaultQueueSchema),
		SoftStopTimeout: envOr(
			"QUEUE_SOFT_STOP_TIMEOUT",
			DefaultSoftStopTimeout,
		),
		SkipJobKindValidation: envOr(
			"QUEUE_SKIP_JOB_KIND_VALIDATION",
			DefaultSkipJobKindValidation,
		),
		SkipUnknownJobCheck: envOr(
			"QUEUE_SKIP_UNKNOWN_JOB_CHECK",
			DefaultSkipUnknownJobCheck,
		),
	}
	if err := cfg.Validate(); err != nil {
		return err
	}
	c.queue = queueConfig{cfg: cfg}

	return nil
}

func (c *Config) Queue() storage.QueueConfig {
	cfg := c.queue.cfg
	cfg.ReindexerIndexNames = slices.Clone(cfg.ReindexerIndexNames)
	cfg.Queues = maps.Clone(cfg.Queues)

	return cfg
}
