package config

const (
	DefaultEmailMailpitHost = "0.0.0.0"
	DefaultEmailMailpitPort = "1025"
)

type EmailCfg struct {
	MailpitHost string
	MailpitPort string
}

func NewEmailCfg() EmailCfg {
	return EmailCfg{
		MailpitHost: DefaultEmailMailpitHost,
		MailpitPort: DefaultEmailMailpitPort,
	}
}

func (c EmailCfg) GetMailpitHost() string { return c.MailpitHost }

func (c EmailCfg) GetMailpitPort() string { return c.MailpitPort }
