package config

import (
	"time"

	"github.com/riverqueue/river"
)

const (
	DefaultAdvisoryLockPrefix          int32         = 0
	DefaultCancelledJobRetentionPeriod               = 24 * time.Hour
	DefaultCompletedJobRetentionPeriod               = 24 * time.Hour
	DefaultDiscardedJobRetentionPeriod               = 168 * time.Hour
	DefaultFetchCooldown                             = 100 * time.Millisecond
	DefaultPollInterval                              = 1 * time.Second
	DefaultQueueID                                   = ""
	DefaultJobCleanerTimeout                         = 30 * time.Second
	DefaultJobStuckThreshold                         = 10 * time.Second
	DefaultJobTimeout                                = 1 * time.Minute
	DefaultMaxAttempts                               = 25
	DefaultMaxWorkers                                = 100
	DefaultPollOnly                                  = false
	DefaultReindexerTimeout                          = 1 * time.Minute
	DefaultRescueStuckJobsAfter                      = 1 * time.Hour
	DefaultQueueSchema                               = ""
	DefaultSoftStopTimeout             time.Duration = 0
	DefaultSkipJobKindValidation                     = false
	DefaultSkipUnknownJobCheck                       = false
)

var DefaultReindexerIndexNames = []string{
	"river_job_args_index",
	"river_job_kind",
	"river_job_metadata_index",
	"river_job_pkey",
	"river_job_prioritized_fetching_index",
	"river_job_state_and_finalized_at_index",
	"river_job_unique_idx",
}

type QueueCfg struct {
	AdvisoryLockPrefix          int32
	CancelledJobRetentionPeriod time.Duration
	CompletedJobRetentionPeriod time.Duration
	DiscardedJobRetentionPeriod time.Duration
	FetchCooldown               time.Duration
	PollInterval                time.Duration
	ID                          string
	JobCleanerTimeout           time.Duration
	JobStuckThreshold           time.Duration
	JobTimeout                  time.Duration
	MaxAttempts                 int
	MaxWorkers                  int
	PollOnly                    bool
	ReindexerIndexNames         []string
	ReindexerTimeout            time.Duration
	RescueStuckJobsAfter        time.Duration
	Schema                      string
	SoftStopTimeout             time.Duration
	SkipJobKindValidation       bool
	SkipUnknownJobCheck         bool
}

func NewQueueCfg() QueueCfg {
	return QueueCfg{
		AdvisoryLockPrefix:          DefaultAdvisoryLockPrefix,
		CancelledJobRetentionPeriod: DefaultCancelledJobRetentionPeriod,
		CompletedJobRetentionPeriod: DefaultCompletedJobRetentionPeriod,
		DiscardedJobRetentionPeriod: DefaultDiscardedJobRetentionPeriod,
		FetchCooldown:               DefaultFetchCooldown,
		PollInterval:                DefaultPollInterval,
		ID:                          DefaultQueueID,
		JobCleanerTimeout:           DefaultJobCleanerTimeout,
		JobStuckThreshold:           DefaultJobStuckThreshold,
		JobTimeout:                  DefaultJobTimeout,
		MaxAttempts:                 DefaultMaxAttempts,
		MaxWorkers:                  DefaultMaxWorkers,
		PollOnly:                    DefaultPollOnly,
		ReindexerIndexNames:         DefaultReindexerIndexNames,
		ReindexerTimeout:            DefaultReindexerTimeout,
		RescueStuckJobsAfter:        DefaultRescueStuckJobsAfter,
		Schema:                      DefaultQueueSchema,
		SoftStopTimeout:             DefaultSoftStopTimeout,
		SkipJobKindValidation:       DefaultSkipJobKindValidation,
		SkipUnknownJobCheck:         DefaultSkipUnknownJobCheck,
	}
}

func (cfg QueueCfg) RiverConfig() river.Config {
	return river.Config{
		AdvisoryLockPrefix:          cfg.AdvisoryLockPrefix,
		CancelledJobRetentionPeriod: cfg.CancelledJobRetentionPeriod,
		CompletedJobRetentionPeriod: cfg.CompletedJobRetentionPeriod,
		DiscardedJobRetentionPeriod: cfg.DiscardedJobRetentionPeriod,
		FetchCooldown:               cfg.FetchCooldown,
		FetchPollInterval:           cfg.PollInterval,
		ID:                          cfg.ID,
		JobCleanerTimeout:           cfg.JobCleanerTimeout,
		JobStuckThreshold:           cfg.JobStuckThreshold,
		JobTimeout:                  cfg.JobTimeout,
		MaxAttempts:                 cfg.MaxAttempts,
		PollOnly:                    cfg.PollOnly,
		ReindexerIndexNames:         cfg.ReindexerIndexNames,
		ReindexerTimeout:            cfg.ReindexerTimeout,
		RescueStuckJobsAfter:        cfg.RescueStuckJobsAfter,
		Schema:                      cfg.Schema,
		SoftStopTimeout:             cfg.SoftStopTimeout,
		SkipJobKindValidation:       cfg.SkipJobKindValidation,
		SkipUnknownJobCheck:         cfg.SkipUnknownJobCheck,
	}
}

func (c QueueCfg) GetMaxWorkers() int { return c.MaxWorkers }
