package config

import "github.com/caarlos0/env/v11"

type AppCfg struct {
	Host                 string   `env:"HOST" envDefault:"localhost"`
	Port                 string   `env:"PORT" envDefault:"8080"`
	SessionKey           string   `env:"SESSION_KEY"`
	SessionEncryptionKey string   `env:"SESSION_ENCRYPTION_KEY"`
	SessionMaxAge        int      `env:"SESSION_MAX_AGE" envDefault:"604800"`
	TokenSigningKey      string   `env:"TOKEN_SIGNING_KEY"`
	CORSAllowedOrigins   []string `env:"CORS_ALLOWED_ORIGINS" envSeparator:","`
	CSRFStrategy         string   `env:"CSRF_STRATEGY" envDefault:"header_only"`
	CSRFTrustedOrigins   []string `env:"CSRF_TRUSTED_ORIGINS" envSeparator:","`
}

func NewAppCfg() AppCfg {
	appCfg := AppCfg{}

	if err := env.ParseWithOptions(&appCfg, env.Options{
		RequiredIfNoDef: true,
	}); err != nil {
		panic(err)
	}

	return appCfg
}

func (c *AppCfg) WithHost(host string)             { c.Host = host }
func (c *AppCfg) WithPort(port string)             { c.Port = port }
func (c *AppCfg) WithSessionMaxAge(age int)        { c.SessionMaxAge = age }
func (c *AppCfg) WithCORSAllowedOrigins(o []string) { c.CORSAllowedOrigins = o }
func (c *AppCfg) WithCSRFStrategy(s string)        { c.CSRFStrategy = s }
func (c *AppCfg) WithCSRFTrustedOrigins(o []string) { c.CSRFTrustedOrigins = o }
