package config

import (
	"github.com/caarlos0/env/v11"
	"github.com/mbvlabs/andurel/pkg/validation"
)

type AuthCfg struct {
	Pepper          string   `env:"PEPPER"`
	PreviousPeppers []string `env:"PREVIOUS_PEPPERS" envSeparator:","`
}

func NewAuthCfg() AuthCfg {
	var authenticationCfg AuthCfg

	if err := env.Parse(&authenticationCfg); err != nil {
		panic(err)
	}

	if err := validation.Validate(&authenticationCfg); err != nil {
		panic(err)
	}

	return authenticationCfg
}

func (c AuthCfg) Validate() error {
	b := validation.NewBuilder()
	b.Required("Pepper", c.Pepper)

	return b.Err()
}

func (c AuthCfg) GetPepper() string { return c.Pepper }

func (c AuthCfg) GetPreviousPeppers() []string { return c.PreviousPeppers }
