// Package controllers provides HTTP handlers for the web application.
package controllers

import (
	"context"
	"net/http"

	"{{.ModuleName}}/database"
	"{{.ModuleName}}/router/cookies"

	"github.com/a-h/templ"
	"github.com/labstack/echo/v4"
{{- range .Blueprint.Controllers.Imports.SortedItems}}
	"{{.}}"
{{- end}}
	"{{.ModuleName}}/queue"
)

type Controllers struct {
{{- range .Blueprint.Controllers.SortedFields}}
	{{.Name}} {{.Type}}
{{- end}}
}

func New(
{{- range $i, $dep := .Blueprint.Controllers.SortedDependencies}}
	{{$dep.Name}} {{$dep.Type}},
{{- end}}
	insertOnly queue.InsertOnly,
) (Controllers, error) {
	pagesCache, err := NewCacheBuilder[templ.Component]().Build()
	if err != nil {
		return Controllers{}, err
	}

	assetsCache, err := NewCacheBuilder[string]().WithSize(2).Build()
	if err != nil {
		return Controllers{}, err
	}

{{- range .Blueprint.Controllers.SortedConstructors}}
	{{.VarName}} := {{.Expression}}
{{- end}}

	return Controllers{
{{- range .Blueprint.Controllers.SortedConstructors}}
		{{.VarName}},
{{- end}}
	}, nil
}

func render(ctx echo.Context, t templ.Component) error {
	buf := templ.GetBuffer()
	defer templ.ReleaseBuffer(buf)

	appCtx := ctx.Get(string(cookies.AppKey))
	withAppCtx := context.WithValue(
		ctx.Request().Context(),
		cookies.AppKey,
		appCtx,
	)

	flashCtx := ctx.Get(string(cookies.FlashKey))
	withFlashCtx := context.WithValue(
		withAppCtx,
		cookies.FlashKey,
		flashCtx,
	)

	if err := t.Render(withFlashCtx, buf); err != nil {
		return err
	}

	return ctx.HTML(http.StatusOK, buf.String())
}
