package controllers

import (
	"{{.ModuleName}}/internal/storage"
	"{{.ModuleName}}/queue"
{{- if ne .ViewLayer "inertia-vue"}}
	"{{.ModuleName}}/views"

	"github.com/a-h/templ"
{{- else}}
	"{{.ModuleName}}/internal/renderer"

	inertia "github.com/romsar/gonertia/v3"
{{- end}}

	"github.com/labstack/echo/v5"
)

{{- if ne .ViewLayer "inertia-vue"}}
type Pages struct {
	db         storage.Pool
	insertOnly queue.InsertOnly
	cache      *Cache[templ.Component]
}

func NewPages(
	db storage.Pool,
	insertOnly queue.InsertOnly,
	cache *Cache[templ.Component],
) Pages {
	return Pages{db, insertOnly, cache}
}

func (p Pages) Home(etx *echo.Context) error {
	cacheKey := "home"

	component, err := p.cache.Get(cacheKey, func() (templ.Component, error) {
		return views.Home{}.Page(), nil
	})
	if err != nil {
		return err
	}

	return render(etx, component)
}

func (p Pages) NotFound(etx *echo.Context) error {
	cacheKey := "not_found"

	component, err := p.cache.Get(cacheKey, func() (templ.Component, error) {
		return views.NotFound(), nil
	})
	if err != nil {
		return err
	}

	return render(etx, component)
}
{{- else}}
type Pages struct {
	db         storage.Pool
	insertOnly queue.InsertOnly
}

func NewPages(
	db storage.Pool,
	insertOnly queue.InsertOnly,
) Pages {
	return Pages{db, insertOnly}
}

func (p Pages) Home(etx *echo.Context) error {
	return renderer.Inertia(etx, "Welcome", inertia.Props{})
}

func (p Pages) NotFound(etx *echo.Context) error {
	return renderer.Inertia(etx, "Error/NotFound", inertia.Props{})
}
{{- end}}