// Package controllers provides HTTP handlers for the web application.
package controllers

import (
	"{{.ModuleName}}/internal/andurel"
	"{{.ModuleName}}/router/cookies"

	"github.com/a-h/templ"
	"github.com/labstack/echo/v4"
)

func render(c echo.Context, t templ.Component) error {
	return andurel.Render(
		c,
		t,
		[]andurel.CookieKey{
			cookies.AppKey,
			cookies.FlashKey,
		},
	)
}
