package controllers

import (
	"log/slog"
	"net/http"

	"{{.ModuleName}}/config"
	"{{.ModuleName}}/internal/storage"
	"{{.ModuleName}}/queue"
	"{{.ModuleName}}/router/cookies"
	"{{.ModuleName}}/router/routes"
	"{{.ModuleName}}/services"
	"{{.ModuleName}}/views"

	"github.com/labstack/echo/v4"
	"github.com/starfederation/datastar-go/datastar"
)

type Registrations struct {
	db         storage.Pool
	insertOnly queue.InsertOnly
	cfg        config.Config
}

func NewRegistrations(
	db storage.Pool,
	insertOnly queue.InsertOnly,
	cfg config.Config,
) Registrations {
	return Registrations{db, insertOnly, cfg}
}

func (r Registrations) New(eCtx echo.Context) error {
	return render(eCtx, views.RegistrationForm())
}

func (r Registrations) Create(eCtx echo.Context) error {
	var payload struct {
		Email           string `json:"email"`
		Password        string `json:"password"`
		ConfirmPassword string `json:"confirmPassword"`
	}

	if err := eCtx.Bind(&payload); err != nil {
		slog.ErrorContext(
			eCtx.Request().Context(),
			"could not parse signup form payload",
			"error",
			err,
		)
		return render(eCtx, views.BadRequest())
	}

	if err := services.RegisterUser(
		eCtx.Request().Context(),
		r.db,
		r.insertOnly,
		r.cfg.Auth.Pepper,
		services.RegisterUserData{
			Email:           payload.Email,
			Password:        payload.Password,
			ConfirmPassword: payload.ConfirmPassword,
		},
	); err != nil {
		slog.ErrorContext(
			eCtx.Request().Context(),
			"failed to register user",
			"error",
			err,
		)

		if flashErr := cookies.AddFlash(eCtx, cookies.FlashError, "Failed to register user"); flashErr != nil {
			return render(eCtx, views.InternalError())
		}

		return eCtx.Redirect(http.StatusSeeOther, routes.RegistrationNew.URL())
	}

	return datastar.NewSSE(eCtx.Response(), eCtx.Request()).Redirect(routes.ConfirmationNew.URL())
}
