package controllers

import (
{{- if eq .Database "postgresql"}}
	"{{.ModuleName}}/database"
	"{{.ModuleName}}/queue"
{{- else if eq .Database "sqlite"}}
	"{{.ModuleName}}/database"
{{- end}}
	"{{.ModuleName}}/views"

	"github.com/a-h/templ"
	"github.com/labstack/echo/v4"
)

type Pages struct {
{{- if eq .Database "postgresql"}}
	db         database.Postgres
	insertOnly queue.InsertOnly
{{- else if eq .Database "sqlite"}}
	db         database.SQLite
{{- end}}
	cache      *Cache[templ.Component]
}

{{- if eq .Database "postgresql"}}
func newPages(
	db database.Postgres,
	insertOnly queue.InsertOnly,
	cache *Cache[templ.Component],
) Pages {
	return Pages{db, insertOnly, cache}
}

{{- else if eq .Database "sqlite"}}
func newPages(
	db database.SQLite,
	cache *Cache[templ.Component],
) Pages {
	return Pages{db, cache}
}

{{- end}}

func (p Pages) Home(c echo.Context) error {
	cacheKey := "home"

	component, err := p.cache.Get(cacheKey, func() (templ.Component, error) {
		return views.Home(), nil
	})
	if err != nil {
		return err
	}

	return render(c, component)
}

func (p Pages) NotFound(c echo.Context) error {
	cacheKey := "not_found"

	component, err := p.cache.Get(cacheKey, func() (templ.Component, error) {
		return views.NotFound(), nil
	})
	if err != nil {
		return err
	}

	return render(c, component)
}
