// Package andurel provides utilities for working with the andurel framework
// The goal of this package is to provide reusable components and abstractions
// that's core to the framework itself. When upgrading the framework, this package
// will be updated accordingly to ensure compatibility.
package andurel
