import { fileURLToPath, URL } from 'node:url'
import { defineConfig } from 'vite'
import vue from '@vitejs/plugin-vue'
import tailwindcss from '@tailwindcss/vite'

export default defineConfig(({ isSsrBuild }) => ({
  plugins: [vue(), tailwindcss()],
  resolve: {
    alias: {
      '@': fileURLToPath(new URL('./resources/js', import.meta.url)),
    },
  },
  base: '/assets/dist/',
  build: {
    manifest: isSsrBuild ? false : "vite/manifest.json",
    assetsDir: "",
    outDir: isSsrBuild ? 'assets/dist/ssr' : 'assets/dist',
    rollupOptions: {
      input: isSsrBuild ? 'resources/js/ssr.ts' : 'resources/js/app.ts',
      output: isSsrBuild ? {
        entryFileNames: '[name].js',
      } : undefined,
    },
  },
  server: {
    port: 5173,
    strictPort: true,
  },
}))
