import '../../css/base.css'

import { createApp, createSSRApp, type DefineComponent } from 'vue'
import { createInertiaApp } from '@inertiajs/vue3'

import { renderAppTree } from '@/components/flash-toasts'

createInertiaApp({
  resolve: (name: string): DefineComponent => {
    const pages = import.meta.glob<DefineComponent>('./Pages/**/*.vue', { eager: true, import: 'default' })
    return pages[`./Pages/${name}.vue`]
  },
  setup({ el, App, props, plugin }) {
    const createVueApp = el.dataset.serverRendered === 'true' ? createSSRApp : createApp
    createVueApp({
      render() {
        return renderAppTree(App, props)
      },
    })
      .use(plugin)
      .mount(el)
  },
})
