package framework

type RouteGroup struct {
	namePrefix string
	pathPrefix string
}

func NewRouteGroup(namePrefix, pathPrefix string) RouteGroup {
	return RouteGroup{
		namePrefix: namePrefix,
		pathPrefix: pathPrefix,
	}
}

func (g RouteGroup) Route(name string) RouteBuilder {
	builder := NewRouteBuilder(name)
	builder = builder.SetNamePrefix(g.namePrefix)
	builder = builder.SetPath(g.pathPrefix)

	return builder
}
