package routebuilder

type RouteBuilder RouteDefinition

type RouteDefinition struct {
	Name string
	Path string
}

func New(name string) RouteBuilder {
	return RouteBuilder{
		Name: name,
	}
}

func (r RouteBuilder) SetNamePrefix(prefix string) RouteBuilder {
	r.Name = prefix + "." + r.Name

	return r
}

func (r RouteBuilder) SetPath(path string) RouteBuilder {
	r.Path = r.Path + path

	return r
}

func (r RouteBuilder) Register() Route {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return Route(route)
}

func (r RouteBuilder) RegisterWithID() RouteWithID {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithID(route)
}

func (r RouteBuilder) RegisterWithSlug() RouteWithSlug {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithSlug(route)
}

func (r RouteBuilder) RegisterWithToken() RouteWithToken {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithToken(route)
}

func (r RouteBuilder) RegisterWithFile() RouteWithFile {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithFile(route)
}

func (r RouteBuilder) RegisterWithParams() RouteWithParams {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithParams(route)
}
