set dotenv-load

# alias
alias r := run
{{- if eq .Database "postgresql"}}
alias cdd := connect-database-docker
{{- end}}

default:
    @just --list

{{- if eq .Database "postgresql"}}

# database 
connect-database-docker conntainer_id name:
	docker exec -it {{`{{conntainer_id}}`}} psql -U postgres {{`{{name}}`}}

{{- else if eq .Database "sqlite"}}

{{- end}}

# code quality
golangci:
	golangci-lint run

vet:
	@go vet ./...

golines:
	@golines -w -m 100 controllers models router router/routes 
