package models

import "errors"

var (
	ErrDomainValidation = errors.New("the provided payload failed validations")
{{ if eq .DIMode "uberfx" }}
	ErrNotFound         = errors.New("record not found")
{{ end }}
)
