// Package database provides database-specific resources like migrations.
package database

import (
	"context"
	"database/sql"
	"embed"
	"errors"
	"log/slog"

	"{{.ModuleName}}/internal/storage"

	"github.com/exaring/otelpgx"
	"github.com/jackc/pgx/v5/pgxpool"
	"github.com/jackc/pgx/v5/stdlib"
	"github.com/uptrace/bun"
	"github.com/uptrace/bun/dialect/pgdialect"
)

//go:embed migrations/*
var Migrations embed.FS

type Postgres struct {
	conn   *bun.DB
	pool *pgxpool.Pool
}

var _ storage.Pool = (*Postgres)(nil)

func NewPostgres(ctx context.Context, databaseURL string) (*Postgres, error) {
	pgxCfg, err := pgxpool.ParseConfig(databaseURL)
	if err != nil {
		slog.ErrorContext(ctx, "could not parse database connection string", "error", err)
		return &Postgres{}, err
	}

	pgxCfg.ConnConfig.Tracer = otelpgx.NewTracer()

	pool, err := pgxpool.NewWithConfig(ctx, pgxCfg)
	if err != nil {
		slog.ErrorContext(ctx, "could not establish connection to database", "error", err)
		return &Postgres{}, err
	}

	if err := pool.Ping(ctx); err != nil {
		slog.ErrorContext(ctx, "could not ping database", "error", err)
		pool.Close()
		return &Postgres{}, err
	}

	sqldb := stdlib.OpenDBFromPool(pool)
	db := bun.NewDB(sqldb, pgdialect.New())

	return &Postgres{conn: db, pool: pool}, nil
}

func (p *Postgres) Conn() *bun.DB {
	return p.conn
}

func (p *Postgres) Pool() *pgxpool.Pool {
	return p.pool
}

func (p *Postgres) BeginTx(ctx context.Context, opts *sql.TxOptions) (bun.Tx, error) {
	tx, err := p.conn.BeginTx(ctx, opts)
	if err != nil {
		return bun.Tx{}, errors.Join(storage.ErrBeginTx, err)
	}
	return tx, nil
}

func (p *Postgres) Close() error {
	err := p.conn.Close()
	p.pool.Close()
	return err
}
