// Package workers provides a centralized place to register all background workers for the application.
package workers

import (
	"github.com/riverqueue/river"

	"{{.ModuleName}}/email"
)

func Register(emailClient email.Client) (*river.Workers, error) {
	wrks := river.NewWorkers()

	if err := river.AddWorkerSafely(wrks, &SortWorker{}); err != nil {
		return nil, err
	}

	if err := river.AddWorkerSafely(wrks, NewSendTransactionalEmailWorker(emailClient)); err != nil {
		return nil, err
	}

	return wrks, nil
}
