# User SQLC overlay.
#
# This file is merged on top of internal/storage/sqlc_base.yaml to produce
# internal/storage/sqlc.yaml, which is used by andurel SQLC commands.
#
# Example (append another SQL block):
# sql:
#   - schema: ../../database/migrations
#     queries: ../../database/queries
#     engine: postgresql
