{{if eq .DIMode "uberfx"}}
// Package queue provides queue-specific resources.
package queue

import (
	"github.com/riverqueue/river"
	"go.uber.org/fx"
)

var wrksConstructors = fx.Provide(
	river.NewWorkers,
	NewSendTransactionalEmailWorker,
	NewSendMarketingEmailWorker,
	// andurel:worker-constructor-registration-point
)

var WorkersModule = fx.Module(
	"queue-workers",
	wrksConstructors,
	fx.Invoke(func(workers *river.Workers, worker *SendTransactionalEmailWorker) error {
		return worker.Register(workers)
	}),
	fx.Invoke(func(workers *river.Workers, worker *SendMarketingEmailWorker) error {
		return worker.Register(workers)
	}),
	// andurel:worker-fx-invoke-registration-point
)
{{else}}
// Package workers provides a centralized place to register all background workers for the application.
package workers

import (
	"github.com/riverqueue/river"

    {{if eq .DIMode "uberfx"}}
	"go.uber.org/fx"
    {{end}}
	"{{.ModuleName}}/email"
)

func RegisterWorkers(transactionalSender email.TransactionalSender, marketingSender email.MarketingSender) (*river.Workers, error) {
	wrks := river.NewWorkers()

	if err := river.AddWorkerSafely(wrks, NewSendTransactionalEmailWorker(transactionalSender)); err != nil {
		return nil, err
	}

	if err := river.AddWorkerSafely(wrks, NewSendMarketingEmailWorker(marketingSender)); err != nil {
		return nil, err
	}

	// andurel:worker-registration-point

	return wrks, nil
}

{{if eq .DIMode "uberfx"}}
var Module = fx.Module("queue-workers", fx.Provide(RegisterWorkers))
{{end}}
{{end}}
