package queue

import (
	"context"

	"github.com/riverqueue/river"

	"{{.ModuleName}}/email"
	"{{.ModuleName}}/queue/jobs"
)

type SendMarketingEmailWorker struct {
	river.WorkerDefaults[jobs.SendMarketingEmailArgs]
	sender email.MarketingSender
}

func NewSendMarketingEmailWorker(sender email.MarketingSender) *SendMarketingEmailWorker {
	return &SendMarketingEmailWorker{
		sender: sender,
	}
}


func (w *SendMarketingEmailWorker) Register(workers *river.Workers) error {
	return river.AddWorkerSafely(workers, w)
}

