package queue

import (
	"context"

	"github.com/riverqueue/river"

	"{{.ModuleName}}/email"
	"{{.ModuleName}}/queue/jobs"
)

type SendTransactionalEmailWorker struct {
	river.WorkerDefaults[jobs.SendTransactionalEmailArgs]
	sender email.TransactionalSender
}

func NewSendTransactionalEmailWorker(sender email.TransactionalSender) *SendTransactionalEmailWorker {
	return &SendTransactionalEmailWorker{
		sender: sender,
	}
}


func (w *SendTransactionalEmailWorker) Register(workers *river.Workers) error {
	return river.AddWorkerSafely(workers, w)
}

