package router

import (
	"net/http"

	"{{.ModuleName}}/controllers"
	"{{.ModuleName}}/router/routes"

	"github.com/labstack/echo/v5"
)

func registerAPIRoutes(handler *echo.Echo, apiController controllers.API) {
	handler.Add(
		http.MethodGet, routes.Health.Path(), apiController.Health,
	).Name = routes.Health.Name()
}
