package routes

import (
	"fmt"
	"time"

	"{{.ModuleName}}/internal/andurel"
)

const AssetsPrefix = "assets"

var startTime = time.Now().Unix()

var Robots = andurel.NewSimpleRoute(
	"/robots.txt",
	"robots",
	AssetsPrefix,
)

var Sitemap = andurel.NewSimpleRoute(
	"/sitemap.xml",
	"sitemap",
	AssetsPrefix,
)

{{- if eq .CSSFramework "vanilla"}}
var StyleImport = andurel.NewSimpleRoute(
	"/css/:file",
	"css.file",
	AssetsPrefix,
)
{{- end}}

var Stylesheet = andurel.NewSimpleRoute(
	fmt.Sprintf("/css/%v/style.css", startTime),
	"css.stylesheet",
	AssetsPrefix,
)

var Scripts = andurel.NewSimpleRoute(
	fmt.Sprintf("/js/%v/scripts.js", startTime),
	"js.scripts",
	AssetsPrefix,
)

var Script = andurel.NewRouteWithFile(
	fmt.Sprintf("/js/%v/:file", startTime),
	"js.script",
	AssetsPrefix,
)
