package routes

import "{{.ModuleName}}/internal/routebuilder"

const (
	APIRoutePrefix = "/api"
	apiNamePrefix  = "api"
)

var Health = routebuilder.New("health").
	SetNamePrefix(apiNamePrefix).
	SetPath(APIRoutePrefix + "/health").
	Register()
