package routes

import (
	"fmt"
	"time"

	"{{.ModuleName}}/internal/andurel"
)

const (
	AssetsRoutePrefix = "/assets"
	assetsNamePrefix  = "assets"
)

var startTime = time.Now().Unix()

var Robots = andurel.NewBase(
	AssetsRoutePrefix+"/robots.txt",
	"robots",
	assetsNamePrefix,
)

var Sitemap = andurel.NewBase(
	AssetsRoutePrefix+"/sitemap.xml",
	"sitemap",
	assetsNamePrefix,
)

{{- if eq .CSSFramework "vanilla"}}
var StyleImport = andurel.NewBase(
	AssetsRoutePrefix+"/css/:file",
	"css.file",
	assetsNamePrefix,
)
{{- end}}

var Stylesheet = andurel.NewBase(
	AssetsRoutePrefix+fmt.Sprintf("/css/%v/style.css", startTime),
	"css.stylesheet",
	assetsNamePrefix,
)

var Scripts = andurel.NewBase(
	AssetsRoutePrefix+fmt.Sprintf("/js/%v/scripts.js", startTime),
	"js.scripts",
	assetsNamePrefix,
)

var Script = andurel.NewRouteWithFile(
	AssetsRoutePrefix+fmt.Sprintf("/js/%v/:file", startTime),
	"js.script",
	assetsNamePrefix,
)
