// Package routes provides the application route definitions.
package routes

import "github.com/labstack/echo/v4"

type Route struct {
	Name         string
	Path         string
	Controller      string
	ControllerMethod string
	Method       string
	IncludeInSitemap bool
	Middleware   []func(next echo.HandlerFunc) echo.HandlerFunc
}

var BuildRoutes = []Route{
	Health,
{{- with $collections := .Blueprint.Routes.SortedRouteCollections}}
{{- range $collection := $collections}}
{{- range $route := $collection.Routes}}
	{{$route}},
{{- end}}
{{- end}}
{{- end}}

	Robots,
	Sitemap,
	Stylesheet,
{{- if eq .CSSFramework "vanilla"}}
	StyleImport,
{{- end}}
	Scripts,
	Script,

	HomePage,
}
