package routes

import (
	"fmt"
	"time"
)

const (
	AssetsRoutePrefix = "/assets"
	assetsNamePrefix  = "assets"
)

var startTime = time.Now().Unix()

var Robots = newRouteBuilder("robots").
	SetNamePrefix(assetsNamePrefix).
	SetPath(AssetsRoutePrefix + "/robots.txt").
	Register()

var Sitemap = newRouteBuilder("sitemap").
	SetNamePrefix(assetsNamePrefix).
	SetPath(AssetsRoutePrefix + "/sitemap.xml").
	Register()

{{- if eq .CSSFramework "vanilla"}}
var StyleImport = newRouteBuilder("css.file").
	SetNamePrefix(assetsNamePrefix).
	SetPath(AssetsRoutePrefix + "/css/:file").
	Register()
{{- end}}

var Stylesheet = newRouteBuilder("css.stylesheet").
	SetNamePrefix(assetsNamePrefix).
	SetPath(AssetsRoutePrefix + fmt.Sprintf("/css/%v/style.css", startTime)).
	Register()

var Scripts = newRouteBuilder("js.scripts").
	SetNamePrefix(assetsNamePrefix).
	SetPath(AssetsRoutePrefix + fmt.Sprintf("/js/%v/scripts.js", startTime)).
	Register()

var Script = newRouteBuilder("js.script").
	SetNamePrefix(assetsNamePrefix).
	SetPath(AssetsRoutePrefix + fmt.Sprintf("/js/%v/:file", startTime)).
	RegisterWithFile()
