package router

import (
	"net/http"

	"{{.ModuleName}}/controllers"
	"{{.ModuleName}}/router/routes"

	"github.com/labstack/echo/v5"
)

func registerPagesRoutes(handler *echo.Echo, pagesController controllers.Pages) {
	handler.Add(
		http.MethodGet, routes.HomePage.Path(), pagesController.Home,
	).Name = routes.HomePage.Name()
{{- range .Blueprint.Routes.SortedRegistrations}}

	handler.Add(
		{{.Method}}, {{.RouteVariable}}.Path(), {{.HandlerRef}},
	).Name = {{.RouteVariable}}.Name()
{{- end}}
}
