// Package routes provides the application route definitions.
package routes

import (
	"github.com/labstack/echo/v4"
{{/* slot routes:imports */}}{{- range .Slot "routes:imports"}}
{{printf "\t%s\n" .}}{{- end}})

type Route struct {
	Name             string
	Path             string
	Handler          string
	HandleMethod     string
	Method           string
	IncludeInSitemap bool
	Middleware       []func(next echo.HandlerFunc) echo.HandlerFunc
}

var BuildRoutes = func() []Route {
	var r []Route

	r = append(
		r,
		assetRoutes...,
	)

	r = append(
		r,
		pageRoutes...,
	)

	r = append(
		r,
		apiRoutes...,
	)

{{/* slot routes:build */}}{{- range .Slot "routes:build"}}
{{printf "\t%s\n" .}}{{- end}}

	return r
}()
