package router

import (
	"net/http"

	"{{.ModuleName}}/router/middleware"
	"{{.ModuleName}}/router/routes"

	"github.com/labstack/echo/v4"
{{- range .Blueprint.Controllers.Imports.SortedItems}}
	"{{.}}"
{{- end}}
)

func registerCoreRoutes(handler *echo.Echo, mw middleware.Middleware{{range .Blueprint.Controllers.SortedConstructors}}, {{.VarName}} {{.Type}}{{end}}) {
	handler.Add(
		http.MethodGet, routes.Health.Path(), api.Health,
	).Name = routes.Health.Name()

	handler.Add(
		http.MethodGet, routes.Robots.Path(), assets.Robots,
	).Name = routes.Robots.Name()

	handler.Add(
		http.MethodGet, routes.Sitemap.Path(), assets.Sitemap,
	).Name = routes.Sitemap.Name()

	handler.Add(
		http.MethodGet, routes.Stylesheet.Path(), assets.Stylesheet,
	).Name = routes.Stylesheet.Name()

{{- if eq .CSSFramework "vanilla"}}
	handler.Add(
		http.MethodGet, routes.StyleImport.Path(), assets.StyleImport,
	).Name = routes.StyleImport.Name()

{{- end}}
	handler.Add(
		http.MethodGet, routes.Scripts.Path(), assets.Scripts,
	).Name = routes.Scripts.Name()

	handler.Add(
		http.MethodGet, routes.Script.Path(), assets.Script,
	).Name = routes.Script.Name()

	handler.Add(
		http.MethodGet, routes.HomePage.Path(), pages.Home,
	).Name = routes.HomePage.Name()
{{- range .Blueprint.Routes.SortedRegistrations}}

	handler.Add(
		{{.Method}}, {{.RouteVariable}}.Path(), {{.HandlerRef}},
	).Name = {{.RouteVariable}}.Name()
{{- end}}
}
{{- range .Blueprint.Routes.SortedRegistrationFunctions}}

func {{.FunctionName}}(handler *echo.Echo, mw middleware.Middleware{{range $.Blueprint.Controllers.SortedConstructors}}, {{.VarName}} {{.Type}}{{end}}) {
{{- range .Registrations}}
	handler.Add(
		{{.Method}}, {{.RouteVariable}}.Path(), {{.HandlerRef}},
	).Name = {{.RouteVariable}}.Name()
{{- end}}
}
{{- end}}
