package routes

import "{{.ModuleName}}/internal/framework"

const (
	APIRoutePrefix = "/api"
	apiNamePrefix  = "api"
)

var Health = framework.NewRouteBuilder("health").
	SetNamePrefix(apiNamePrefix).
	SetPath(APIRoutePrefix + "/health").
	Register()
