package router

import (
	"{{.ModuleName}}/controllers"
	"{{.ModuleName}}/internal/registrationbuilder"

	"github.com/labstack/echo/v4"
)

var registrar = registrationbuilder.New().
	AddEntry(registerCoreRoutes){{range .Blueprint.Routes.SortedRegistrationFunctions}}.
	AddEntry({{.FunctionName}}){{end}}
