package routes

import "{{.ModuleName}}/internal/framework"

const pageNamePrefix = "pages"

var HomePage = framework.NewRouteBuilder("home").
	SetNamePrefix(pageNamePrefix).
	SetPath("/").
	Register()
