package routes

type routeGroup struct {
	namePrefix string
	pathPrefix string
}

func newRouteGroup(namePrefix, pathPrefix string) routeGroup {
	return routeGroup{
		namePrefix: namePrefix,
		pathPrefix: pathPrefix,
	}
}

func (g routeGroup) route(name string) routeBuilder {
	builder := newRouteBuilder(name)
	builder = builder.SetNamePrefix(g.namePrefix)
	builder = builder.SetPath(g.pathPrefix)

	return builder
}
