package router

import (
	"errors"
	"net/http"

	"{{.ModuleName}}/controllers"
	"{{.ModuleName}}/router/routes"

	"github.com/labstack/echo/v5"
)

func registerAssetsRoutes(handler *echo.Echo, assets controllers.Assets) error {
	errs := []error{}

	_, err := handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.Robots.Path(),
		Name:    routes.Robots.Name(),
		Handler: assets.Robots,
	})
	if err != nil {
		errs = append(errs, err)
	}

	_, err = handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.Sitemap.Path(),
		Name:    routes.Sitemap.Name(),
		Handler: assets.Sitemap,
	})
	if err != nil {
		errs = append(errs, err)
	}

	_, err = handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.Stylesheet.Path(),
		Name:    routes.Stylesheet.Name(),
		Handler: assets.Stylesheet,
	})
	if err != nil {
		errs = append(errs, err)
	}

{{- if eq .CSSFramework "vanilla"}}
	_, err = handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.StyleImport.Path(),
		Name:    routes.StyleImport.Name(),
		Handler: assets.StyleImport,
	})
	if err != nil {
		errs = append(errs, err)
	}

{{- end}}
	_, err = handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.Scripts.Path(),
		Name:    routes.Scripts.Name(),
		Handler: assets.Scripts,
	})
	if err != nil {
		errs = append(errs, err)
	}

	_, err = handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.Script.Path(),
		Name:    routes.Script.Name(),
		Handler: assets.Script,
	})
	if err != nil {
		errs = append(errs, err)
	}

	return errors.Join(errs...)
}
