package cookies

import (
{{- range .Blueprint.Cookies.Imports.Items}}
	"{{.}}"
{{- end}}

	"github.com/labstack/echo/v5"
)

{{- if gt (len .Blueprint.Cookies.SortedConstants) 0}}

const (
{{- range .Blueprint.Cookies.SortedConstants}}
	{{.Name}} = "{{.Value}}"
{{- end}}
)
{{- end}}

// Session carries the runtime session cookie names derived from app identity
// so the cookies package holds no global state. It is constructed once and
// injected where session/flash cookies are needed.
type Session struct {
	appSessionName   string
	flashSessionName string
}

func NewSession(appSessionName, projectName, environment string) *Session {
	return &Session{
		appSessionName:   appSessionName,
		flashSessionName: buildFlashSessionName(projectName, environment),
	}
}

type App struct {
	CurrentPath string
{{- range .Blueprint.Cookies.SortedAppFields}}
	{{.Name}} {{.Type}}
{{- end}}
}

{{- if not (len .Blueprint.Cookies.SortedAppFields)}}
func (s *Session) CreateAppSession(c *echo.Context) error {
{{- else}}
func (s *Session) CreateAppSession(c *echo.Context, user models.UserEntity) error {
{{- end}}
	sess, err := getSession(s.appSessionName, c)
	if err != nil {
		return err
	}
{{- if .Blueprint.Cookies.CreateSessionCode}}

{{.Blueprint.Cookies.CreateSessionCode}}
{{- end}}

	return sess.Save(c.Request(), c.Response())
}

func (s *Session) DestroyAppSession(c *echo.Context) error {
	sess, err := getSession(s.appSessionName, c)
	if err != nil {
		return err
	}

	sess.Options.MaxAge = -1
	return sess.Save(c.Request(), c.Response())
}

func (s *Session) ExtractFromCookieApp(c *echo.Context) App {
{{- if not (len .Blueprint.Cookies.SortedAppFields)}}
	_, err := getSession(s.appSessionName, c)
{{- else}}
	sess, err := getSession(s.appSessionName, c)
{{- end}}
	if err != nil {
		return App{}
	}

	app := App{}
{{- if .Blueprint.Cookies.GetSessionCode}}

{{.Blueprint.Cookies.GetSessionCode}}
{{- end}}

	return app
}

{{- range .Blueprint.Cookies.SortedFunctions}}

{{.Code}}
{{- end}}
