package router

import "{{.ModuleName}}/internal/framework"

var registrar = framework.NewRouteRegistrar().
	AddEntry(registerCoreRoutes){{range .Blueprint.Routes.SortedRegistrationFunctions}}.
	AddEntry({{.FunctionName}}){{end}}
