package router

import (
	"context"
	"log/slog"
	"os"

	"github.com/lmittmann/tint"
)

type StdoutExporter struct {
	LogLevel   slog.Level
}

// GetSlogHandler implements LogExporter.
func (s *StdoutExporter) GetSlogHandler(
	ctx context.Context,
) (slog.Handler, error) {
	handler := tint.NewHandler(os.Stdout, &tint.Options{
		Level:      s.LogLevel,
		TimeFormat: "15:04:05",
		AddSource:  true,
	})

	return handler, nil
}

// Name implements LogExporter.
func (s *StdoutExporter) Name() string {
	return "stdout"
}

// Shutdown implements LogExporter.
func (s *StdoutExporter) Shutdown(ctx context.Context) error {
	return nil
}
