package routes

import (
	"{{.ModuleName}}/internal/andurel"
)

const (
	APIRoutePrefix = "/api"
	apiNamePrefix  = "api"
)

var Health = andurel.NewBase(
	APIRoutePrefix+"/health",
	"health",
	apiNamePrefix,
)
