package router

import (
	"errors"
	"net/http"

	"{{.ModuleName}}/controllers"
	"{{.ModuleName}}/router/routes"

	"github.com/labstack/echo/v5"
)

func registerPagesRoutes(handler *echo.Echo, pages controllers.Pages) error {
	errs := []error{}

	_, err := handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.HomePage.Path(),
		Name:    routes.HomePage.Name(),
		Handler: pages.Home,
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- range .Blueprint.Routes.SortedRegistrations}}

	_, err = handler.AddRoute(echo.Route{
		Method:  {{.Method}},
		Path:    {{.RouteVariable}}.Path(),
		Name:    {{.RouteVariable}}.Name(),
		Handler: {{.HandlerRef}},
	})
	if err != nil {
		errs = append(errs, err)
	}
{{- end}}

	return errors.Join(errs...)
}
