package router

import (
	"errors"
	"net/http"

	"{{.ModuleName}}/controllers"
	"{{.ModuleName}}/router/routes"

	"github.com/labstack/echo/v5"
)

func registerResetPasswordsRoutes(handler *echo.Echo, resetPasswordsController controllers.ResetPasswords) error {
	errs := []error{}

	_, err := handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.PasswordNew.Path(),
		Name:    routes.PasswordNew.Name(),
		Handler: resetPasswordsController.New,
	})
	if err != nil {
		errs = append(errs, err)
	}

	_, err = handler.AddRoute(echo.Route{
		Method:  http.MethodPost,
		Path:    routes.PasswordCreate.Path(),
		Name:    routes.PasswordCreate.Name(),
		Handler: resetPasswordsController.Create,
	})
	if err != nil {
		errs = append(errs, err)
	}

	_, err = handler.AddRoute(echo.Route{
		Method:  http.MethodGet,
		Path:    routes.PasswordEdit.Path(),
		Name:    routes.PasswordEdit.Name(),
		Handler: resetPasswordsController.Edit,
	})
	if err != nil {
		errs = append(errs, err)
	}

	_, err = handler.AddRoute(echo.Route{
		Method:  http.MethodPut,
		Path:    routes.PasswordUpdate.Path(),
		Name:    routes.PasswordUpdate.Name(),
		Handler: resetPasswordsController.Update,
	})
	if err != nil {
		errs = append(errs, err)
	}

	return errors.Join(errs...)
}
