// Package routes provides the application route definitions.
package routes

import (
	"fmt"
	"strings"

	"github.com/a-h/templ"
	"github.com/google/uuid"
)

type routeKey string

const (
	routeName routeKey = "name"
	routePath routeKey = "path"
)

type Route map[routeKey]string

func (r Route) Name() string {
	return r[routeName]
}

func (r Route) URL() string {
	return r[routePath]
}

func (r Route) Path() string {
	return r[routePath]
}

func (r Route) SafeURL() templ.SafeURL {
	return templ.SafeURL(r.URL())
}

type RouteWithID Route

func (r RouteWithID) Name() string {
	return r[routeName]
}

func (r RouteWithID) Path() string {
	return r[routePath]
}

func (r RouteWithID) URL(id uuid.UUID) string {
	return strings.Replace(r[routePath], ":id", id.String(), 1)
}

func (r RouteWithID) SafeURL(id uuid.UUID) templ.SafeURL {
	return templ.SafeURL(r.URL(id))
}

type RouteWithSlug Route

func (r RouteWithSlug) Name() string {
	return r[routeName]
}

func (r RouteWithSlug) Path() string {
	return r[routePath]
}

func (r RouteWithSlug) URL(slug string) string {
	return strings.Replace(r[routePath], ":slug", slug, 1)
}

func (r RouteWithSlug) SafeURL(slug string) templ.SafeURL {
	return templ.SafeURL(r.URL(slug))
}

type RouteWithToken Route

func (r RouteWithToken) Name() string {
	return r[routeName]
}

func (r RouteWithToken) Path() string {
	return r[routePath]
}

func (r RouteWithToken) URL(token string) string {

	return strings.Replace(r[routePath], ":token", token, 1)
}

func (r RouteWithToken) SafeURL(token string) templ.SafeURL {
	return templ.SafeURL(r.URL(token))
}

type RouteWithFile Route

func (r RouteWithFile) Name() string {
	return r[routeName]
}

func (r RouteWithFile) Path() string {
	return r[routePath]
}

func (r RouteWithFile) URL() string {
	return r[routePath]
}

func (r RouteWithFile) SafeURL() templ.SafeURL {
	return templ.SafeURL(r.URL())
}

type RouteWithParams Route

func (r RouteWithParams) Name() string {
	return r[routeName]
}

func (r RouteWithParams) Path() string {
	return r[routePath]
}

func (r RouteWithParams) URL(params map[string]any) string {
	path := r[routePath]
	for placeholder, value := range params {
		var str string
		switch v := value.(type) {
		case string:
			str = v
		case uuid.UUID:
			str = v.String()
		default:
			str = fmt.Sprintf("%v", v)
		}
		path = strings.Replace(path, ":"+placeholder, str, 1)
	}
	return path
}

func (r RouteWithParams) SafeURL(params map[string]any) templ.SafeURL {
	return templ.SafeURL(r.URL(params))
}

type routeBuilder routeDefinition

type routeDefinition struct {
	Name string
	Path string
}

func newRouteBuilder(name string) routeBuilder {
	return routeBuilder{
		Name: name,
	}
}

func (r routeBuilder) SetNamePrefix(prefix string) routeBuilder {
	r.Name = prefix + "." + r.Name

	return r
}

func (r routeBuilder) SetPath(path string) routeBuilder {
	r.Path = r.Path + path

	return r
}

func (r routeBuilder) Register() Route {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return Route(route)
}

func (r routeBuilder) RegisterWithID() RouteWithID {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithID(route)
}

func (r routeBuilder) RegisterWithSlug() RouteWithSlug {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithSlug(route)
}

func (r routeBuilder) RegisterWithToken() RouteWithToken {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithToken(route)
}

func (r routeBuilder) RegisterWithFile() RouteWithFile {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithFile(route)
}

func (r routeBuilder) RegisterWithParams() RouteWithParams {
	route := make(Route, 2)
	route[routeName] = r.Name
	route[routePath] = r.Path

	return RouteWithParams(route)
}
