package cookies

import (
	"{{.ModuleName}}/application"
{{- range .Blueprint.Cookies.Imports.Items}}
	"{{.}}"
{{- end}}

	"github.com/labstack/echo/v5"
)

{{- if gt (len .Blueprint.Cookies.SortedConstants) 0}}

const (
{{- range .Blueprint.Cookies.SortedConstants}}
	{{.Name}} = "{{.Value}}"
{{- end}}
)
{{- end}}

type App struct {
	CurrentPath string
{{- range .Blueprint.Cookies.SortedAppFields}}
	{{.Name}} {{.Type}}
{{- end}}
}

{{- if not (len .Blueprint.Cookies.SortedAppFields)}}
func CreateAppSession(c *echo.Context) error {
{{- else}}
func CreateAppSession(c *echo.Context, user models.UserEntity) error {
{{- end}}
	sess, err := getSession(application.AppCookieSessionName, c)
	if err != nil {
		return err
	}
{{- if .Blueprint.Cookies.CreateSessionCode}}

{{.Blueprint.Cookies.CreateSessionCode}}
{{- end}}

	return sess.Save(c.Request(), c.Response())
}

func DestroyAppSession(c *echo.Context) error {
	sess, err := getSession(application.AppCookieSessionName, c)
	if err != nil {
		return err
	}

	sess.Options.MaxAge = -1
	return sess.Save(c.Request(), c.Response())
}

func ExtractFromCookieApp(c *echo.Context) App {
{{- if not (len .Blueprint.Cookies.SortedAppFields)}}
	_, err := getSession(application.AppCookieSessionName, c)
{{- else}}
	sess, err := getSession(application.AppCookieSessionName, c)
{{- end}}
	if err != nil {
		return App{}
	}

	app := App{}
{{- if .Blueprint.Cookies.GetSessionCode}}

{{.Blueprint.Cookies.GetSessionCode}}
{{- end}}

	return app
}

{{- range .Blueprint.Cookies.SortedFunctions}}

{{.Code}}
{{- end}}
