package routes

import (
	"{{.ModuleName}}/internal/andurel"
)

type routeGroup struct {
	namePrefix string
	pathPrefix string
}

func newRouteGroup(namePrefix, pathPrefix string) routeGroup {
	return routeGroup{
		namePrefix: namePrefix,
		pathPrefix: pathPrefix,
	}
}

func (g routeGroup) base(path, name string) andurel.Route {
	return andurel.NewBase(g.pathPrefix+path, name, g.namePrefix)
}

func (g routeGroup) withID(path, name string) andurel.IDRoute {
	return andurel.NewRouteWithID(g.pathPrefix+path, name, g.namePrefix)
}

func (g routeGroup) withIDs(path, name string) andurel.IDsRoute {
	return andurel.NewRouteWithMultipleIDs(g.pathPrefix+path, name, g.namePrefix)
}

func (g routeGroup) withParam(path, name string) andurel.ParamRoute {
	return andurel.NewRouteWithSlug(g.pathPrefix+path, name, g.namePrefix)
}
