package routes

import (
	"{{.ModuleName}}/internal/andurel"
)

const UserPrefix = "users"

var SessionNew = andurel.NewSimpleRoute(
	"/sign_in",
	"new_user_session",
	UserPrefix,
)

var SessionCreate = andurel.NewSimpleRoute(
	"/sign_in",
	"user_session",
	UserPrefix,
)

var SessionDestroy = andurel.NewSimpleRoute(
	"/sign_out",
	"destroy_user_session",
	UserPrefix,
)

var PasswordNew = andurel.NewSimpleRoute(
	"/password/new",
	"new_user_password",
	UserPrefix,
)

var PasswordCreate = andurel.NewSimpleRoute(
	"/password",
	"user_password",
	UserPrefix,
)

var PasswordEdit = andurel.NewRouteWithToken(
	"/password/:token/edit",
	"edit_user_password",
	UserPrefix,
)

var PasswordUpdate = andurel.NewSimpleRoute(
	"/password",
	"user_password",
	UserPrefix,
)

var RegistrationNew = andurel.NewSimpleRoute(
	"/sign_up",
	"new_user_registration",
	UserPrefix,
)

var RegistrationCreate = andurel.NewSimpleRoute(
	"/",
	"user_registration",
	UserPrefix,
)

var ConfirmationNew = andurel.NewSimpleRoute(
	"/confirmation/new",
	"new_user_confirmation",
	UserPrefix,
)

var ConfirmationCreate = andurel.NewSimpleRoute(
	"/confirmation",
	"user_confirmation",
	UserPrefix,
)
