// Package router provides the application routes and middleware setup.
package router

import (
	"context"
	"encoding/gob"
	"encoding/hex"
	"net/http"
	"strings"

	"{{.ModuleName}}/config"
	"{{.ModuleName}}/controllers"
	"{{.ModuleName}}/pkg/telemetry"
	"{{.ModuleName}}/router/cookies"
	"{{.ModuleName}}/router/routes"
	"{{.ModuleName}}/router/middleware"

	"github.com/google/uuid"
	"github.com/gorilla/sessions"
	"github.com/labstack/echo-contrib/session"
	"github.com/labstack/echo/v4"
	"go.opentelemetry.io/contrib/instrumentation/github.com/labstack/echo/otelecho"
{{- if eq .Database "postgresql"}}
	"riverqueue.com/riverui"
{{- end}}

	echomw "github.com/labstack/echo/v4/middleware"
)

type Router struct {
	Handler     *echo.Echo
	controllers controllers.Controllers
	telemetry   *telemetry.Telemetry
}

func New(
	ctx context.Context,
	controllers controllers.Controllers,
	cfg config.Config,
	tel *telemetry.Telemetry,
{{- if eq .Database "postgresql"}}
	riverHandler *riverui.Handler,
{{- end}}
) (*Router, error) {
	gob.Register(uuid.UUID{})
	gob.Register(cookies.FlashMessage{})

	router := echo.New()

	if config.Env != config.ProdEnvironment {
		router.Debug = true
	}

	authKey, err := hex.DecodeString(cfg.App.SessionKey)
	if err != nil {
		return nil, err
	}
	encKey, err := hex.DecodeString(cfg.App.SessionEncryptionKey)
	if err != nil {
		return nil, err
	}

	//csrfName := strings.ToLower(config.ProjectName) + "_" + "dev_csrf"
	//if config.Env == config.ProdEnvironment {
	//	csrfName = strings.ToLower(config.ProjectName) + "_" + "csrf"
	//}
	// TODO: make changing name work with d-*
	csrfName := "_csrf"

	middleware := []echo.MiddlewareFunc{
		otelecho.Middleware(config.ServiceName),
		middleware.Logger(tel),
		session.Middleware(
			sessions.NewCookieStore(
				authKey,
				encKey,
			),
		),
		middleware.RegisterAppContext,
		middleware.RegisterFlashMessagesContext,

		echomw.CSRFWithConfig(echomw.CSRFConfig{Skipper: func(c echo.Context) bool {
			return strings.HasPrefix(c.Request().URL.Path, routes.APIRoutePrefix) ||
				strings.HasPrefix(c.Request().URL.Path, routes.AssetsRoutePrefix)
		}, TokenLookup: "cookie:" + csrfName, CookiePath: "/", CookieDomain: func() string {
			if config.Env == config.ProdEnvironment {
				return config.Domain
			}

			return ""
		}(), CookieSecure: config.Env == config.ProdEnvironment, CookieHTTPOnly: true, CookieSameSite: http.SameSiteStrictMode}),

		echomw.Recover(),
	}

	router.Use(middleware...)

{{- if eq .Database "postgresql"}}
	router.Any("/riverui*", echo.WrapHandler(riverHandler))
{{- end}}

	registrar.register(router, controllers)

	router.RouteNotFound("/*", controllers.Pages.NotFound)

	return &Router{
		router,
		controllers,
		tel,
	}, nil
}
