package services

import (
	"context"
	"database/sql"
	"errors"

{{- if ne .DIMode "uberfx"}}
	"{{.ModuleName}}/internal/storage"
{{- end}}
	"{{.ModuleName}}/models"
)

var (
	ErrInvalidCredentials = errors.New("invalid email or password")
	ErrEmailNotVerified   = errors.New("email not verified")
)

type LoginData struct {
	Email    string
	Password string
}

{{if eq .DIMode "uberfx"}}
func (i Identity) AuthenticateUser(
	ctx context.Context,
	data LoginData,
) (models.UserEntity, error) {
	user, err := models.User.FindByEmail(ctx, i.db.Executor(), data.Email)
{{else}}
func AuthenticateUser(
	ctx context.Context,
	db storage.Pool,
	salt string,
	data LoginData,
) (models.UserEntity, error) {
	user, err := models.User.FindByEmail(ctx, db.Executor(), data.Email)
{{end}}
	if err != nil {
		if errors.Is(err, sql.ErrNoRows) {
			return models.UserEntity{}, ErrInvalidCredentials
		}

		return models.UserEntity{}, err
	}

{{if eq .DIMode "uberfx"}}
	validPassword, err := user.ValidPassword(data.Password, i.pepper)
{{else}}
	validPassword, err := user.ValidPassword(data.Password, salt)
{{end}}
	if err != nil {
		return models.UserEntity{}, err
	}

	if !validPassword {
{{if eq .DIMode "uberfx"}}
		return models.UserEntity{}, ErrInvalidCredentials
{{else}}
		return models.UserEntity{}, errors.New("invalid password")
{{end}}
	}

	if !user.HasValidatedEmail() {
		return models.UserEntity{}, ErrEmailNotVerified
	}

	return user, nil
}
