package services

import (
	"strings"

	"github.com/mbvlabs/andurel/pkg/storage"
)

type TokenProvider interface {
	GetTokenSigningKey() string
}

type AuthProvider interface {
	GetPepper() string
	GetPreviousPeppers() []string
}

type AppIdentityProvider interface {
	TokenProvider
	GetBaseURL() string
	GetDefaultSenderSignature() string
}

type Identity struct {
	db                     storage.Connection
	insertOnly             storage.InsertQueue
	pepper                 string
	previousPeppers        []string
	tokenSigningKey        string
	baseURL                string
	defaultSenderSignature string
}

func NewIdentity(
	db storage.Connection,
	insertOnly storage.InsertQueue,
	appCfg AppIdentityProvider,
	authCfg AuthProvider,
) Identity {
	validPeppers := make([]string, 0, len(authCfg.GetPreviousPeppers()))
	for _, p := range authCfg.GetPreviousPeppers() {
		if p = strings.TrimSpace(p); p != "" && p != authCfg.GetPepper() {
			validPeppers = append(validPeppers, p)
		}
	}

	return Identity{
		db:                     db,
		insertOnly:             insertOnly,
		pepper:                 authCfg.GetPepper(),
		previousPeppers:        validPeppers,
		tokenSigningKey:        appCfg.GetTokenSigningKey(),
		baseURL:                appCfg.GetBaseURL(),
		defaultSenderSignature: appCfg.GetDefaultSenderSignature(),
	}
}
