@utility input-base {
	@apply flex w-full rounded-field border bg-base-200 px-3 py-1 text-sm text-base-content shadow-inner transition placeholder:text-base-content/40 focus:outline-none focus:ring-2 disabled:cursor-not-allowed disabled:opacity-60;
}

@utility label-base {
	@apply text-sm font-medium leading-none text-base-content/80 peer-disabled:cursor-not-allowed peer-disabled:opacity-60;
}
