package components

import "{{.ModuleName}}/internal/hypermedia"

type FormProps struct {
	Action string
	URL    string
}

templ Form(props FormProps, opts ...Opt) {
	if fragmentFrom(opts) != "" {
		@templ.Fragment(fragmentFrom(opts)) {
			@formInner(props, opts...)
		}
	} else {
		@formInner(props, opts...)
	}
}

templ formInner(props FormProps, opts ...Opt) {
	<form
		class={ classFrom(opts) }
		if idFrom(opts) != "" {
			id={ idFrom(opts) }
		}
		data-indicator:submitting
		data-on:submit={ "!$submitting &&" + hypermedia.DataAction(props.Action, props.URL) }
		if attrsFrom(opts) != nil {
			{ attrsFrom(opts)... }
		}
	>
		<fieldset class="m-0 min-w-0 border-none p-0" data-attr:disabled="$submitting">
			{ children... }
		</fieldset>
	</form>
}
