package components

// --- Builder ---

type TableBuilder struct {
	id         string
	class      string
	attrs      templ.Attributes
	fragmentID string
}

// Table renders a data table with consistent styling. Use it for displaying structured
// data like user lists, transactions, or search results. Compose with TableHeader,
// TableBody, TableFooter, TableRow, TableHead, TableCell, and TableCaption sub-components.
//
//	@components.Table().Render() {
//		@components.TableHeader("", nil) {
//			@components.TableRow("", nil) {
//				@components.TableHead("", nil) { Name }
//				@components.TableHead("", nil) { Email }
//			}
//		}
//		@components.TableBody("", nil) {
//			@components.TableRow("", nil) {
//				@components.TableCell("", nil) { Jane }
//				@components.TableCell("", nil) { jane@example.com }
//			}
//		}
//	}
func Table() *TableBuilder {
	return &TableBuilder{}
}

func (b *TableBuilder) WithID(id string) *TableBuilder     { b.id = id; return b }
func (b *TableBuilder) WithClass(c string) *TableBuilder   { b.class = cn(b.class, c); return b }
func (b *TableBuilder) SetClass(c string) *TableBuilder    { b.class = c; return b }
func (b *TableBuilder) WithAttr(key string, val any) *TableBuilder {
	if b.attrs == nil { b.attrs = templ.Attributes{} }
	b.attrs[key] = val; return b
}
func (b *TableBuilder) WithFragment(id string) *TableBuilder { b.fragmentID = id; return b }

// --- Class helpers ---

func tableClasses(b *TableBuilder) string {
	return cn("w-full caption-bottom text-sm", b.class)
}

func tableHeaderClasses(class string) string {
	return cn("[&_tr]:border-b [&_tr]:border-base-300", class)
}

func tableBodyClasses(class string) string {
	return cn("[&_tr:last-child]:border-0", class)
}

func tableFooterClasses(class string) string {
	return cn("border-t border-base-300 bg-base-200/50 font-medium [&>tr]:last:border-b-0", class)
}

func tableRowClasses(class string) string {
	return cn("border-b border-base-300 transition-colors hover:bg-base-200/50", class)
}

func tableHeadClasses(class string) string {
	return cn("h-10 px-4 text-left align-middle font-medium text-base-content/60 [&:has([role=checkbox])]:pr-0", class)
}

func tableCellClasses(class string) string {
	return cn("p-4 align-middle [&:has([role=checkbox])]:pr-0", class)
}

func tableCaptionClasses(class string) string {
	return cn("mt-4 text-sm text-base-content/60", class)
}

// --- Templ ---

templ (b *TableBuilder) Render() {
	if b.fragmentID != "" {
		@templ.Fragment(b.fragmentID) {
			@b.render()
		}
	} else {
		@b.render()
	}
}

templ (b *TableBuilder) render() {
	<div class="relative w-full overflow-auto">
		<table
			class={ tableClasses(b) }
			if b.id != "" {
				id={ b.id }
			}
			if b.attrs != nil {
				{ b.attrs... }
			}
		>
			{ children... }
		</table>
	</div>
}

templ TableHeader(class string, attrs templ.Attributes) {
	<thead class={ tableHeaderClasses(class) } if attrs != nil { { attrs... } }>
		{ children... }
	</thead>
}

templ TableBody(class string, attrs templ.Attributes) {
	<tbody class={ tableBodyClasses(class) } if attrs != nil { { attrs... } }>
		{ children... }
	</tbody>
}

templ TableFooter(class string, attrs templ.Attributes) {
	<tfoot class={ tableFooterClasses(class) } if attrs != nil { { attrs... } }>
		{ children... }
	</tfoot>
}

templ TableRow(class string, attrs templ.Attributes) {
	<tr class={ tableRowClasses(class) } if attrs != nil { { attrs... } }>
		{ children... }
	</tr>
}

templ TableHead(class string, attrs templ.Attributes) {
	<th class={ tableHeadClasses(class) } if attrs != nil { { attrs... } }>
		{ children... }
	</th>
}

templ TableCell(class string, attrs templ.Attributes) {
	<td class={ tableCellClasses(class) } if attrs != nil { { attrs... } }>
		{ children... }
	</td>
}

templ TableCaption(class string, attrs templ.Attributes) {
	<caption class={ tableCaptionClasses(class) } if attrs != nil { { attrs... } }>
		{ children... }
	</caption>
}
