package components


// FieldState represents the state of a form field, including its value and any associated error message.
type FieldState struct {
	Value string
	Error string
}

// ResourceProps represents a collection of form fields, mapping field names to their respective states.
type ResourceProps map[string]FieldState

type FormProps struct {
	Method string
	URL    string
}

type formData struct {
	css          string
	overrideCSS  string
	addCSSClass  []string
	isFragment   bool
	fragmentName string
}

type formDataOptions func(*formData)

func OverrideFormCSS(css string) formDataOptions {
	return func(fd *formData) {
		fd.overrideCSS = css
	}
}

func AddCssToForm(classes ...string) formDataOptions {
	return func(fd *formData) {
		fd.addCSSClass = append(fd.addCSSClass, classes...)
	}
}

func WithFormFragment(name string) formDataOptions {
	return func(fd *formData) {
		fd.isFragment = true
		fd.fragmentName = name
	}
}

templ formBase(css, method, url string) {
	<form
		class={ css }
		data-indicator:submitting
		data-on:submit={ "!$submitting &&" + hypermedia.DataAction(method, url) }
	>
		{ children... }
	</form>
}

templ Form(prop FormProps, options ...formDataOptions) {
	{{
		data := &formData{
			css:          "grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6",
			overrideCSS:  "",
			isFragment:   false,
			fragmentName: "",
			addCSSClass:  []string{},
		}
		for _, option := range options {
			option(data)
		}

		if data.overrideCSS != "" {
			data.css = data.overrideCSS
		} else if len(data.addCSSClass) > 0 {
			for _, class := range data.addCSSClass {
				data.css += " " + class
			}
		}
	}}
	if data.isFragment {
		@templ.Fragment(data.fragmentName) {
			@formBase(data.css, prop.Method, prop.URL) {
				{ children... }
			}
		}
	}
	if !data.isFragment {
		@formBase(data.css, prop.Method, prop.URL) {
			{ children... }
		}
	}
}

type Input struct {
	Title                string
	State                FieldState
	removeLabel          bool
	id                   string
	placeholder          string
	fieldType            string
	required             bool
	fragment             string
	disableOnSubmit      bool
	overrideLabelCss     string
	overrideInputCss     string
	overrideContainerCss string
}

func (i Input) WithID(id string) Input {
	i.id = id
	return i
}

func (i Input) MakeDisabled() Input {
	i.disableOnSubmit = true
	return i
}

func (i Input) OverrideLabelCSS(css string) Input {
	i.overrideLabelCss = css
	return i
}

func (i Input) OverrideContainerCSS(css string) Input {
	i.overrideContainerCss = css
	return i
}

func (i Input) OverrideCSS(css string) Input {
	i.overrideInputCss = css
	return i
}

func (i Input) RemoveLabel() Input {
	i.removeLabel = false
	return i
}

func (i Input) Required() Input {
	i.required = true
	return i
}

func (i Input) WithPlaceholder(placeholder string) Input {
	i.placeholder = placeholder
	return i
}

func (i Input) WithType(fieldType string) Input {
	i.fieldType = fieldType
	return i
}

func (i Input) AsFragment(name string) Input {
	i.fragment = name
	return i
}

templ (i Input) Render() {
	{{
		fieldType := "text"
		if i.fieldType != "" {
			fieldType = i.fieldType
		}

		var withLabel bool
		if i.removeLabel == true {
			withLabel = false
		} else {
			withLabel = true
		}

		var disabled bool
		if i.disableOnSubmit == true {
			disabled = true
		} else {
			disabled = false
		}

		name := strcase.LowerCamelCase(i.Title)

		id := name
		if i.id != "" {
			id = i.id
		}

		containerCSS := "grid gap-2"
		if i.overrideContainerCss != "" {
			containerCSS = i.overrideContainerCss
		}

		labelCSS := "label"
		if i.overrideLabelCss != "" {
			labelCSS = i.overrideLabelCss
		}

		inputCSS := "input"
		if i.overrideInputCss != "" {
			inputCSS = i.overrideInputCss
		}
	}}
	if i.fragment != "" {
		@templ.Fragment(i.fragment) {
			@i.renderBase(id, name, i.placeholder, fieldType, containerCSS, labelCSS, inputCSS, withLabel, disabled)
		}
	}
	if i.fragment == "" {
		@i.renderBase(id, name, i.placeholder, fieldType, containerCSS, labelCSS, inputCSS, withLabel, disabled)
	}
}

templ (i Input) renderBase(id, name, placeholder, fieldType, containerCss, labelCss, inputCss string, withLabel, disabledOnSubmit bool) {
	if withLabel == true {
		<div class={ containerCss }>
			<label
				class={ labelCss }
				for={ id }
			>
				{ i.Title }
			</label>
			<input
				id={ id }
				class={ inputCss }
				type={ fieldType }
				if i.State.Value != "" {
					value={ i.State.Value }
				}
				if placeholder != "" {
					placeholder={ placeholder }
				}
				data-bind={ name }
				if disabledOnSubmit {
					data-attr:disabled="$submitting"
				}
				if i.required {
					required
				}
			/>
			if i.State.Error != "" {
				<span>{ i.State.Error }</span>
			}
		</div>
	}
	if withLabel == false {
		<input
			id={ id }
			class={ inputCss }
			type={ fieldType }
			if i.State.Value != "" {
				value={ i.State.Value }
			}
			if placeholder != "" {
				placeholder={ placeholder }
			}
			data-bind={ name }
			if disabledOnSubmit {
				data-attr:disabled="$submitting"
			}
			if i.required {
				required
			}
		/>
		if i.State.Error != "" {
			<span>{ i.State.Error }</span>
		}
	}
}

//templ Textarea(label, name, placeholder string, required bool, prop FieldProp) {
//	<div>
//		<label
//			for={ name }
//		>
//			{ label }
//		</label>
//		<textarea
//			id={ name }
//			placeholder={ placeholder }
//			data-bind={ name }
//			data-attr:disabled="$submitting"
//			if required {
//				required
//			}
//		>
//			{ prop.Value }
//		</textarea>
//		if prop.Error != "" {
//			<span>{ prop.Error }</span>
//		}
//	</div>
//}

templ SubmitButton(title string) {
	<button
		type="submit"
		data-attr:disabled="$submitting"
	>
		<span
			data-show="!$submitting"
		>
			{ title }
		</span>
		<span
			data-show="$submitting"
		>
			Loading
		</span>
	</button>
}
