package views

templ NotFound() {
	@base() {
		<main>
			<section>
				<div>
					<div>
						<h1>Page not found</h1>
						<p>The page you requested does not exist or is no longer available.</p>
					</div>
				</div>
			</section>
		</main>
	}
}
