package views

import (
	"net/http"
	"{{.ModuleName}}/internal/hypermedia"
	"{{.ModuleName}}/router/routes"
)

templ RegistrationForm() {
	@base() {
		<main>
			<section>
				<div>
					<div>
						<h1>Create an account</h1>
						<p>Enter your details below to create your account.</p>
					</div>
					<div>
						<form data-indicator:submitting data-on:submit={ "!$submitting && " + hypermedia.DataAction(http.MethodPost, routes.RegistrationCreate.URL()) }>
							<fieldset data-attr:disabled="$submitting">
								<div>
									<label for="email">Email</label>
									<div>
										<input type="email" id="email" data-bind="email" required/>
									</div>
								</div>
								<div>
									<label for="password">Password</label>
									<div>
										<input type="password" id="password" data-bind="password" required minlength="8"/>
									</div>
								</div>
								<div>
									<label for="confirmPassword">Confirm Password</label>
									<div>
										<input type="password" id="confirmPassword" data-bind="confirmPassword" required minlength="8"/>
									</div>
								</div>
								<button type="submit">
									<span data-show="!$submitting">Sign Up</span>
									<span data-show="$submitting">Loading</span>
								</button>
							</fieldset>
						</form>
					</div>
					<div>
						<p>Already have an account?</p>
						<a href={ routes.SessionNew.URL() }>Login</a>
					</div>
				</div>
			</section>
		</main>
	}
}
