package views

templ BadRequest() {
	@base() {
		<main>
			<section>
				<div>
					<div>
						<h1>Bad request</h1>
						<p>The request could not be processed because the submitted data or URL was invalid.</p>
					</div>
				</div>
			</section>
		</main>
	}
}
