package views

import (
	"net/http"
	"{{.ModuleName}}/internal/hypermedia"
	"{{.ModuleName}}/router/routes"
)

type ResetPasswordRequestForm struct{}

func (rprf ResetPasswordRequestForm) PageFragment() string {
	return "reset-password-request-page-fragment"
}

templ (rprf ResetPasswordRequestForm) Page() {
	@base() {
		@templ.Fragment(rprf.PageFragment()) {
			<main id="reset-password-request-container">
				<section>
					<div>
						<div>
							<h1>Reset Password</h1>
							<p>Enter your email address and we'll send you a code to reset your password.</p>
						</div>
						<div>
							<form data-indicator:_submitting data-on:submit={ hypermedia.DataAction(http.MethodPost, routes.PasswordCreate.URL()) }>
								<fieldset data-attr:disabled="$_submitting">
									<div>
										<label for="email">Email</label>
										<div>
											<input type="email" id="email" data-bind="email" required/>
										</div>
									</div>
									<button type="submit">
										<span data-show="!$_submitting">Send Reset Code</span>
										<span data-show="$_submitting">Loading</span>
									</button>
								</fieldset>
							</form>
						</div>
						<div>
							<p>Remember your password?</p>
							<a href={ routes.SessionNew.URL() }>Login</a>
						</div>
					</div>
				</section>
			</main>
		}
	}
}

type ResetPasswordForm struct {
	Token string
}

func (rpf ResetPasswordForm) PageFragment() string {
	return "reset-password-page-fragment"
}

templ (rpf ResetPasswordForm) Page() {
	@base() {
		@templ.Fragment(rpf.PageFragment()) {
			<main id="reset-password-container">
				<section>
					<div>
						<div>
							<h1>Reset Your Password</h1>
							<p>Enter your new password below.</p>
						</div>
						<div>
							<form data-indicator:_submitting data-on:submit={ hypermedia.DataAction(http.MethodPut, routes.PasswordUpdate.URL()) }>
								<fieldset data-attr:disabled="$_submitting">
									<input type="hidden" data-bind="resetPasswordToken" value={ rpf.Token }/>
									<div>
										<label for="password">New Password</label>
										<div>
											<input type="password" id="password" data-bind="password" required minlength="8"/>
										</div>
									</div>
									<div>
										<label for="confirmPassword">Confirm New Password</label>
										<div>
											<input type="password" id="confirmPassword" data-bind="confirmPassword" required minlength="8"/>
										</div>
									</div>
									<button type="submit">
										<span data-show="!$_submitting">Reset Password</span>
										<span data-show="$_submitting">Loading</span>
									</button>
								</fieldset>
							</form>
						</div>
					</div>
				</section>
			</main>
		}
	}
}