package views

templ InternalError() {
	@base() {
		<main>
			<section>
				<div>
					<div>
						<h1>Internal error</h1>
						<p>Something went wrong on our end. Please try again in a moment.</p>
					</div>
				</div>
			</section>
		</main>
	}
}
