package views

import (
	"net/http"
	"{{.ModuleName}}/internal/hypermedia"
	"{{.ModuleName}}/internal/validation"
	"{{.ModuleName}}/router/routes"
)

type RegistrationForm struct {
	Errors validation.ValidationErrors
}

func (rf RegistrationForm) FieldError(field string) string {
	return rf.Errors.ToMap()[field]
}

func (rf RegistrationForm) PageFragment() string {
	return "registration-page-fragment"
}

templ (rf RegistrationForm) Page() {
	@base() {
		@templ.Fragment(rf.PageFragment()) {
			<main id="registration-container">
				<section>
					<div>
						<div>
							<h1>Create an account</h1>
							<p>Enter your details below to create your account.</p>
						</div>
						<div>
							<form data-indicator:_submitting data-on:submit={ hypermedia.DataAction(http.MethodPost, routes.RegistrationCreate.URL()) }>
								<fieldset data-attr:disabled="$_submitting">
									<div>
										<label for="email">Email</label>
										<div>
											<input type="email" id="email" data-bind="email" required/>
										</div>
										if rf.FieldError("email") != "" {
											<p id="email-error" style="color: var(--destructive); font-size: var(--step--1); font-weight: 600;" role="alert">{ rf.FieldError("email") }</p>
										}
									</div>
									<div>
										<label for="password">Password</label>
										<div>
											<input type="password" id="password" data-bind="password" required minlength="8"/>
										</div>
										if rf.FieldError("password") != "" {
											<p id="password-error" style="color: var(--destructive); font-size: var(--step--1); font-weight: 600;" role="alert">{ rf.FieldError("password") }</p>
										}
									</div>
									<div>
										<label for="confirmPassword">Confirm Password</label>
										<div>
											<input type="password" id="confirmPassword" data-bind="confirmPassword" required minlength="8"/>
										</div>
										if rf.FieldError("confirmPassword") != "" {
											<p id="confirm-password-error" style="color: var(--destructive); font-size: var(--step--1); font-weight: 600;" role="alert">{ rf.FieldError("confirmPassword") }</p>
										}
									</div>
									<button type="submit">
										<span data-show="!$_submitting">Sign Up</span>
										<span data-show="$_submitting">Loading</span>
									</button>
								</fieldset>
							</form>
						</div>
						<div>
							<p>Already have an account?</p>
							<a href={ routes.SessionNew.URL() }>Login</a>
						</div>
					</div>
				</section>
			</main>
		}
	}
}
