package views

import (
	"{{.ModuleName}}/views/components"
	"{{.ModuleName}}/router/cookies"
	"time"
)

templ base(headOpts ...HeadDataOption) {
	<!DOCTYPE html>
	<html lang="en">
		@SetupHead(ctx, headOpts...)
		<body>
			{ children... }
			<footer>
				<div>
					&copy; { time.Now().Format("2006") } andurel.
				</div>
			</footer>
		</body>
		<div id="flashContainer">
			for _, flash := range cookies.GetFlashesCtx(ctx) {
				@components.ToastMessage(flash)
			}
		</div>
	</html>
}
