package controllers

import (
	"log/slog"
	"net/http"

	"{{.ModuleName}}/config"
	"{{.ModuleName}}/database"
{{- if eq .Database "postgresql" }}
	"{{.ModuleName}}/queue"
{{- else if eq .Database "sqlite" }}
	"{{.ModuleName}}/email"
{{- end }}
	"{{.ModuleName}}/router/cookies"
	"{{.ModuleName}}/router/routes"
	"{{.ModuleName}}/services"
	"{{.ModuleName}}/views"

	"github.com/labstack/echo/v4"
	"github.com/starfederation/datastar-go/datastar"
)

{{- if eq .Database "postgresql" }}
type Registrations struct {
	db         database.Postgres
	insertOnly queue.InsertOnly
	cfg        config.Config
}

func newRegistrations(
	db database.Postgres,
	insertOnly queue.InsertOnly,
	cfg config.Config,
) Registrations {
	return Registrations{db, insertOnly, cfg}
}
{{- else if eq .Database "sqlite" }}
type Registrations struct {
	db     database.SQLite
	sender email.TransactionalSender
	cfg    config.Config
}

func newRegistrations(
	db database.SQLite,
	sender email.TransactionalSender,
	cfg config.Config,
) Registrations {
	return Registrations{db, sender, cfg}
}
{{- end }}

func (r Registrations) New(c echo.Context) error {
	return render(c, views.RegistrationForm())
}

func (r Registrations) Create(c echo.Context) error {
	var payload struct {
		Email           string `json:"email"`
		Password        string `json:"password"`
		ConfirmPassword string `json:"confirmPassword"`
	}

	if err := c.Bind(&payload); err != nil {
		slog.ErrorContext(
			c.Request().Context(),
			"could not parse signup form payload",
			"error",
			err,
		)
		return render(c, views.BadRequest())
	}

	slog.DebugContext(c.Request().Context(), "################################################################################")
	slog.DebugContext(c.Request().Context(), "################################################################################")
	slog.DebugContext(c.Request().Context(), "registering new user")
	slog.DebugContext(c.Request().Context(), "################################################################################")
	slog.DebugContext(c.Request().Context(), "################################################################################")

	err := services.RegisterUser(
		c.Request().Context(),
		r.db,
{{- if eq .Database "postgresql" }}
		r.insertOnly,
{{- else if eq .Database "sqlite" }}
		r.sender,
{{- end }}
		r.cfg.Auth.Pepper,
		services.RegisterUserData{
			Email:           payload.Email,
			Password:        payload.Password,
			ConfirmPassword: payload.ConfirmPassword,
		},
	)
	if err != nil {
		slog.ErrorContext(
			c.Request().Context(),
			"failed to register user",
			"error",
			err,
		)
		if flashErr := cookies.AddFlash(c, cookies.FlashError, "Failed to register user"); flashErr != nil {
			return render(c, views.InternalError())
		}

		return c.Redirect(http.StatusSeeOther, routes.RegistrationNew.URL())
	}

	return datastar.NewSSE(c.Response(), c.Request()).Redirect(routes.ConfirmationNew.URL())
}
