package email

import (
	"context"
)

func (c Client) SendVerificationEmail(ctx context.Context, to, verificationCode string) error {
	return c.SendTransactional(ctx, TransactionalData{
		To:        to,
		From:      "noreply@andurel.com",
		Subject:   "Verify Your Email Address",
		Component: VerifyEmail(verificationCode),
	})
}

func (c Client) SendResetPasswordEmail(ctx context.Context, to, resetURL string) error {
	return c.SendTransactional(ctx, TransactionalData{
		To:        to,
		From:      "noreply@andurel.com",
		Subject:   "Reset Your Password",
		Component: ResetPassword(resetURL),
	})
}
