package routes

import (
	"net/http"
	"time"

	"{{.ModuleName}}/router/cookies"

	"github.com/labstack/echo/v4"
	"github.com/maypok86/otter/v2"
)

type AuthOnly struct{}

func (a AuthOnly) Handler() func(next echo.HandlerFunc) echo.HandlerFunc {
	return func(next echo.HandlerFunc) echo.HandlerFunc {
		return func(c echo.Context) error {
			if cookies.GetApp(c).IsAuthenticated {
				return next(c)
			}

			return c.Redirect(http.StatusSeeOther, SessionNew.URL())
		}
	}
}

var _ routeMiddleware = AuthOnly{}

type IPRateLimiter struct {
	limit         int32
	redirectRoute Route
}

func (l IPRateLimiter) Handler() func(next echo.HandlerFunc) echo.HandlerFunc {
	cache := otter.Must(&otter.Options[string, int32]{
		MaximumSize:      1000,
		ExpiryCalculator: otter.ExpiryCreating[string, int32](10 * time.Minute),
	})

	return func(next echo.HandlerFunc) echo.HandlerFunc {
		return func(c echo.Context) error {
			ip := c.RealIP()

			hits, ok := cache.GetIfPresent(ip)
			if !ok {
				cache.Set(ip, 1)
				return next(c)
			}

			if hits <= l.limit {
				cache.Set(ip, hits+1)
			}

			if hits > l.limit {
				return c.String(http.StatusTooManyRequests, l.redirectRoute.URL())
			}

			return next(c)
		}
	}
}

var _ routeMiddleware = IPRateLimiter{}
