package routes

import "{{.ModuleName}}/internal/framework"

const (
	usersRoutePrefix = "/users"
	usersNamePrefix  = "users"
)

var usersGroup = framework.NewRouteGroup(usersNamePrefix, usersRoutePrefix)

var SessionNew = usersGroup.Route("new_user_session").
	SetPath("/sign_in").
	Register()

var SessionCreate = usersGroup.Route("user_session").
	SetPath("/sign_in").
	Register()

var SessionDestroy = usersGroup.Route("destroy_user_session").
	SetPath("/sign_out").
	Register()

var PasswordNew = usersGroup.Route("new_user_password").
	SetPath("/password/new").
	Register()

var PasswordCreate = usersGroup.Route("user_password").
	SetPath("/password").
	Register()

var PasswordEdit = usersGroup.Route("edit_user_password").
	SetPath("/password/:token/edit").
	RegisterWithToken()

var PasswordUpdate = usersGroup.Route("user_password").
	SetPath("/password").
	Register()

var RegistrationNew = usersGroup.Route("new_user_registration").
	SetPath("/sign_up").
	Register()

var RegistrationCreate = usersGroup.Route("user_registration").
	SetPath("").
	Register()

var ConfirmationNew = usersGroup.Route("new_user_confirmation").
	SetPath("/confirmation/new").
	Register()

var ConfirmationCreate = usersGroup.Route("user_confirmation").
	SetPath("/confirmation").
	Register()
