package routes

import (
	"net/http"

	"{{.ModuleName}}/router/cookies"

	"github.com/labstack/echo/v4"
)

type AuthOnly struct{}

func (a AuthOnly) Handler() func(next echo.HandlerFunc) echo.HandlerFunc {
	return func(next echo.HandlerFunc) echo.HandlerFunc {
		return func(c echo.Context) error {
			if cookies.GetApp(c).IsAuthenticated {
				return next(c)
			}

			return c.Redirect(http.StatusSeeOther, SessionNew.URL())
		}
	}
}

var _ routeMiddleware = AuthOnly{}
