name: Code Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: "postgres://postgres:postgres@localhost:5432/testdb?sslmode=disable"
      E2E_CRITICAL_ONLY: "true"

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Install tools
      run: |
        go install github.com/a-h/templ/cmd/templ
        go install github.com/segmentio/golines
        go install github.com/sqlc-dev/sqlc/cmd/sqlc
        go install golang.org/x/tools/cmd/goimports

    - name: Build
      run: go build ./...

    - name: Test
      run: |
        go test $(go list ./... | grep -v /e2e) -v -race -cover -coverprofile coverage.out -coverpkg ./...
        go tool cover -func coverage.out -o coverage.out

    - name: Go Coverage Badge
      uses: tj-actions/coverage-badge-go@v2
      if: ${{ github.event_name == 'push' }}
      with:
        green: 80
        filename: coverage.out

    - uses: stefanzweifel/git-auto-commit-action@v5
      id: auto-commit-action
      if: ${{ github.event_name == 'push' }}
      with:
        commit_message: Apply Code Coverage Badge
        skip_fetch: true
        skip_checkout: true
        file_pattern: ./README.md

    - name: Push Changes
      if: steps.auto-commit-action.outputs.changes_detected == 'true'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ github.token }}
        branch: ${{ github.ref }}
